<!doctype html>
<html>
<head>
<title>{sorts:name}-{site:title}</title>
<meta content='{sorts:keywords}' name='keywords'>
<meta content='{sorts:description}' name='description'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1955700_x77y9bmu9cm.css">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:head.html}
<section class="sort-info" style="background:url('{sorts:pic}')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="animated bounceInDown">{sorts:name}</span>
			<p class="animated fadeInDown">{sorts:description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="animated flipInX" src="{sorts:ico}" />
		</div>
	</div>
</section>
<section class="productlist wp wow fadeInUp">
	<ul>
		{list:num=5 order=id desc}
		<li class="cl wow delay{$key} fadeInUp">
			<a href="[list:link]">
			<img src="/static/images/p1.jpg">
			
				<h3 class="s">[list:title]</h3>
				<p>[list:description len=100]</p>
				<div class="cl"><h4><i class="jellyfont jellyshijian" aria-hidden="true"></i>[list:create_time style=Y年m月d日]</h4><em class="jellyfont jellyjiantou"></em></div>
			</a>
		</li>
		{/list}
		{if:empty($list)}<li>分类无数据</li>{/if}		
		
	</ul>
	<div class="wow fadeInUp page-content">
		<p><a href="{pagebar:pre}" title="上一页"><i class="jellyfont jellyarrow-left" aria-hidden="true"></i></a></p> 
		<p><a href="{pagebar:next}" title="下一页"><i class="jellyfont jellyjiantou" aria-hidden="true"></i></a></p>
	</div>
</section>

{include:foot.html}
</body>
</html>