<section class="wp contact-us wow fadeInUp">
	<div>
		<h1>{company:name}</h1>
		<p>JellyCMS完全免费并开源（MIT Licensed）,50,000+ 使用者，200,000+ 网站及应用</p>
	</div>
</section>
<section class="wp copyright wow fadeInUp">
	<p>Copyright © 2020 {company:name}版权所有</p>
	<p>技术支持：国栋科技</p>
</section>
<footer> 
    <div class="mbfootcontact">
		<a href="/" class="jellyfont jellyhome home"></a>
		<a href="" class="jellyfont jellyqq qq"></a> 
		<a class="jellyfont jellyphone telephone" href="tel:400-888-8888"></a>
		<a class="jellyfont jellyweixin weixin"></a>
    </div>
</footer>
<link rel="stylesheet" href="{webroot:static/layui/css/layui.css}">
<script src="/static/layui/layui.all.js"></script>
<script src="{theme:js/jquery-1.11.3.min.js}"></script>
<script src="{theme:js/swiper.min.js}"></script>
<script src="{theme:js/swiper.animate.min.js}"></script>
<script src="{theme:js/wow.min.js}"></script>
<script src="{theme:js/main.js}"></script>


