<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{site:title}-{site:subtitle}</title>
<meta content='{site:keywords}' name='keywords'>
<meta content='{site:description}' name='description'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1955700_x77y9bmu9cm.css">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:head.html}
<div class="swiper-container wp" style="width:100%; height:288px;" >
    <div class="swiper-wrapper">
	{slide:}
		<div class="swiper-slide" style="background-image:url('{$slide.bgpic}'); background-color:{$slide.bgcolor} ">
			<div class="swiper-slide-content">
				<div class="slider-text">
					<h1 class="ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">{$slide.name}</h1>
					<p class="ani" swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s">{$slide.description}</p>
					<div class="download ani"  swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
						<span class="version">最新版本:3.8.1</span>
						<p>
							<a href="">本站</a>
							<a href="">github</a>
							<a href="">演示</a>
						</p>
					</div>
				</div>
				<div class="slider-pic ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><img src="{$slide.pic}"></div>
			</div>
		</div>
	{/slide}
    </div>
</div>
<section class="featrue wp wow fadeInUp">
	<h1>系统特色</h1>
	<div class="slogan-con">
		<span class="slogan">永久开源、免费的 PHP 建站系统</span>
		<span class="line"></span>
	</div>
	<span class="separator"></span>
	<ul class="f-items">
		<li>
			<div class="roll-icon-box">
				<div class="icon">
					<i class="fa fa-camera-retro"></i>
				</div>
				<div class="roll-content">
					<h3>开源免费</h3>
					<p>基于MIT开源协议</p>
				</div>
			</div>
		</li>
		<li>
			<div class="roll-icon-box">
				<div class="icon">
					<i class="fa fa-codepen"></i>
				</div>
				<div class="roll-content">
					<h3>开源免费</h3>
					<p>基于MIT开源协议</p>
				</div>
			</div>
		</li>
		<li>
			<div class="roll-icon-box">
				<div class="icon">
					<i class="fa fa-desktop"></i>
				</div>
				<div class="roll-content">
					<h3>开源免费</h3>
					<p>基于MIT开源协议</p>
				</div>
			</div>
		</li>
	</ul>
</section>
<section class="about-us wp wow fadeInUp">
	<div class="about-content">
		<img src="{$site.logo}" />
		<h2>北京国栋科技有限公司</h2>
		<p>设计是把一种设想通过合理的规划、周密的计划、通过各种感觉形式传达出来的过程。人类通过劳动改造世界， 创造文明，创造物质财富和精神财富，而最基础、最主要的创造活动是造物。设计便是造物活动进行预先的计划， 可以把任何造物活动的计划技术和计划过程理解为设计。</p>
	</div>
</section>
<section class="product wp wow fadeInUp">
	<h1>功能特色</h1>
	<div class="slogan-con">
		<span class="slogan">永久开源、免费的 PHP 建站系统</span>
		<span class="line"></span>
	</div>
	<span class="separator"></span>
	<ul class="p-items">
		{list:num=4 id=5 where=pic neq ''}
		<li class=" wow fadeInUp delay1"><a href="[list:link]"><img src="[list:pic]"><span>[list:title]</span></a></li>
		{/list}
		
	</ul>
</section>
<section class="statistics wp wow fadeInUp">
	<div class="sta-data">
		<ul>
			<li><span>10+</span><p>年技术沉淀</p></li>
			<li><span>300+</span><p>款创新产品</p></li>
			<li><span>1,000+</span><p>次商业合作</p></li>
			<li><span>100+</span><p>专业团队</p></li>
		</ul>
	</div>
</section>

<section class="news wp wow fadeInUp">
	<h1>新闻动态</h1>
	<div class="slogan-con">
		<span class="slogan">永久开源、免费的 PHP 建站系统</span>
		<span class="line"></span>
	</div>
	<span class="separator"></span>
	<ul class="n-items">
		{list:num=4 id=2 where=pic neq ''}
		<li class="wow fadeInUp delay1">
			<a href="[list:link]">
				<div class="basic">
					<img src="[list:pic]">
					<span class="time"><i>[list:create_time style=M]</i><em>[list:create_time style=d]</em></span>
				</div>
				<div class="context">
					<span>[list:title]</span>
					<p>[list:description len=36]</p>
				</div>
			</a>
		</li>
		{/list}
	</ul>
</section>
{include:foot.html}
</body>
</html>