<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{contents:title}-{sorts:name}-{site:title}</title>
<meta content='{contents:keywords}' name='keywords'>
<meta content='{contents:description}' name='description'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1955700_x77y9bmu9cm.css">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:head.html}
<section class="sort-info" style="background:url('{sorts:pic}')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="animated bounceInDown">{sorts:name}</span>
			<p class="animated fadeInDown">{sorts:description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="animated flipInX" src="{sorts:ico}" />
		</div>
	</div>
</section>
<section class="content">
	<div class="con-info">
		<h1>{contents:title}</h1>
		<div>
			<i class="jellyfont jellyshijian" aria-hidden="true"></i><span>{contents:create_time style=Y年m月d日}</span>
		</div>
	</div>

	<div class="details">
			{contents:content}
	</div>
	<div class="pre-next">
		<p><i class="jellyfont jellyarrow-left" aria-hidden="true"></i><a href="{$pre.link}" title="{$pre.title}">{$pre.title}</a></p> 
		<p><i class="jellyfont jellyjiantou" aria-hidden="true"></i><a href="{$next.link}" title="{$next.title}">{$next.title}</a></p>
	</div>
</section>
{include:foot.html}
</body>
</html>