<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>果冻CMS-移动版</title>
<meta name="keywords" content="果冻CMS">
<meta name="description" content="果冻CMS">

<meta name="MSSmartTagsPreventParsing" content="True">

<meta http-equiv="MSThemeCompatible" content="Yes">
<meta name="applicable-device" content="mobile">
<meta name="apple-mobile-web-app-title" content="果冻CMS">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1955700_x77y9bmu9cm.css">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:head.html}

<!-- 
<section class="default-mobile-list">
<div class="box default-mobile-list-cats">
	<h3 class="cl">
    	<div>手机网站案例<span class="subtitle">mobile case</span></div><i class="jellyfont jellydaosanjiao"></i><i  class="jellyfont jellysanjiaoxing-copy-copy"></i>
  	</h3>
	<nav style="display:none;">
	<ul>
		<li><a href="show-list-4589-1.html">SEO优化案例<span class="subtitle">Web SEO</span></a></li>
		<li><a href="show-list-4587-1.html">电脑网站案例<span class="subtitle">Customer Case</span></a></li>
		<li><a href="show-list-4591-1.html">风格大赏<span class="subtitle">Style show</span></a></li>
		<li class="back"><a href="show-list-4585-1.html">案例展示<span class="subtitle">Works Show</span></a></li>
		</ul>
    </nav>
</div>
</section> -->

<section class="sort-info" style="background:url('/static/images/proxy-pic.png')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="animated bounceInDown">{$sort.name}</span>
			<p class="animated fadeInDown">{$sort.description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="animated flipInX" src="{$sort.ico}" />
		</div>
	</div>
</section>
<section class="content">
	<div class="con-info">
		<h1>{$content.title}</h1>
		<div><i class="jellyfont jellyshijian" aria-hidden="true"></i><span>{echo:date('m月d日',$content['create_time'])}</span></div>
	</div>

	<div class="details">
			{$content.content}
	</div>
	<div class="pre-next">
		<p><i class="jellyfont jellyarrow-left" aria-hidden="true"></i><a href="{$pre.link}" title="{$pre.title}">{$pre.title}</a></p> 
		<p><i class="jellyfont jellyjiantou" aria-hidden="true"></i><a href="{$next.link}" title="{$next.title}">{$next.title}</a></p>
	</div>
</section>




{include:foot.html}
</body>
</html>