*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
	text-decoration:none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-family: -apple-system, sans-serif;
}
html,body{
	background:#fff;
	height:100%;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	box-sizing: border-box;
	font-family: -apple-system, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-size: 0.875rem;
	background:#f5f5f5;
	font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0,0,0,.25);
    transition: color .2s ease;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
	border-radius: 0;
}
header{
	height:60px;
	width:100%;
    box-shadow: rgba(100, 100, 100, 0.18) 0px 2px 3px 0px;
}
header.active {
    background-color: #fff;
}
header:hover {
   // background-color: rgba(0,0,0,.1);
}
.header-container{
	height:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header-left{
	width:168px;
	height:100%;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	box-sizing:border-box;
	color:#52bd32;
	font-size:28px;
}
.header-left img{
	height:88%;
	display:flex;

}
.header-right{
	width:200px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
header.active .header-right a {
    color: #000;
}
.header-right a {
    color: #fff;
	line-height:30px;
	text-align:center;
}
.header-right .reg {
    color: #fff !important;
    background: #52c018;
    border-radius: 15px;
    width: 80px;
    height: 30px;
	margin-left:20px;
}

.header-container ul{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex:1;
}
header.active .header-container ul li a{
	color:#000;
}
header.other-page .header-container ul li a{
	color:#000;
	font-size:14px;
}
.header-container ul li a{
	color:#fff;
	padding-left:15px;
	padding-right:15px;
}
.header-container ul li a.active{
	color:#52c018!important;
}
.manual-wrap{
	background:#fff;
	height:100%;
	display:flex;
	flex-direction:column;
}
.manual{
	display:flex;
	justify-content:space-between;
	width:100%;
	padding-top:18px;
	margin:0 auto;
	background:#fff;
	flex:1;
	overflow:hidden;
}
.manual .left{
	padding-left:8px;
	width:258px;
	border-right: 1px solid #eee;
	height:100%;
	overflow-y:auto;
}
.manual .right{
	flex:1;
	padding-left:18px;
	padding-bottom:66px;
	color:#333;
	padding-right:198px;
	height:100%;
	overflow-y:auto;
	
}
.manual .left .layui-tree {
    line-height: 32px;
}
.manual .left ul li {
    transition:all 0.2s ease-in-out;
}
.manual .left ul li:hover {
    background:#f2f2f2;
}
.manual .left .layui-tree li h2 {
    line-height: 36px;
    border-left: 5px solid #009E94;
    margin: 15px 0 5px;
	margin-top:0;
    padding: 0 10px;
    background-color: #f2f2f2;
	color:#333;
	font-size:16px;
}
.manual .left .layui-tree .manual .left-noicon a cite {
    padding-left: 15px;
}

.manual .left .layui-tree li a cite {
    padding: 0 8px;
}
.manual .left .layui-tree li a em {
    font-size: 12px;
    color: #bbb;
    padding-right: 5px;
    font-style: normal;
}
.site-h1 {
    margin-bottom: 20px;
    line-height: 60px;
    padding-bottom: 10px;
    color: #393D49;
    border-bottom: 1px solid #eee;
    font-size: 28px;
    font-weight: 300;
}
.site-title {
    margin: 30px 0 20px;
}
.site-text p {
    margin-bottom: 10px;
    line-height: 22px;
}
 
.manual .left .layui-tree li i {
    font-size: 16px;
    color: #888;
}
.layui-code {
	padding: 0 !important;
}
.layui-code-view .layui-code-ol li {
    padding: 0 18px;
}
body .layui-layer-dir .layui-layer-content {
    padding: 10px;
}
.site-dir {
    display: none;
}
.site-dir li {
    line-height: 26px;
    margin-left: 20px;
    overflow: visible;
    list-style-type: disc;
}
.site-dir li a {
    display: block;
}
a cite {
    font-style: normal;
    *cursor: pointer;
}
.site-dir a em {
    padding-left: 5px;
    font-size: 12px;
    color: #c2c2c2;
    font-style: normal;
}
.manual .left .layui-tree .layui-this a {
    color: #01AAED;
}
.site-dir li a.layui-this {
    color: #01AAED;
}
header{
	position:relative !important;
}




