 <!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title>{$site.title}</title>
<meta content='{$site.keywords}' name='keywords'>
<meta content='{$site.description}' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:html/head.html}
<div class="sort-banner" style="background:url('/static/images/proxy-pic.png')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="animated bounceInDown">{$sort.name}</span>
			<p class="animated fadeInDown">{$sort.description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="animated fadeInDown" src="{$sort.ico}" />
		</div>
	</div>
</div>
<div class="content-wrap">
	<div class="content">
		<div class="position"><a href="/">首页</a>{position:}><a href="{$position.link}">{$position.name}</a>{/position}</div>
		<div class="about-sortinfo">
			<h3 class="animated fadeInDown">{$sort.name}</h3>
			<span  class="animated fadeInDown">{$sort.enname}</span>
			<em  class="animated fadeInDown">{$sort.slogan}</em>
		</div>
		<div class="contact-us-con">
			<div class="contact-us-left">
				<img src="/static/images/guodong.png">
				<p>联系电话：18865669007 张先生</p>
				<p>联系邮箱：service@guodong.tech</p>
				<p>联系邮箱：service@guodong.tech</p>
				<p>联系地址：北京市朝阳区远洋国际中心</p>
			</div>
			<div class="contact-us-right">
				{$content.content}
			</div>
		
		</div>
	</div>
</div>
{include:html/foot.html}
</body>
</html>