<link rel="stylesheet" href="{webroot:static/layui/css/layui.css}">
<footer>
	 <div class="footer-top">
		<div class="footer-top-container">
			<div class="footer-left wow bounceInLeft">
				<div class="footer-logo">
					<img src="{site:logo}" />
					<p>{site:copyright}</p>
				</div>
				<div class="footer-contactus">
					<p>联系人：{company:contact}</p>
					<p>手机：{company:mobile}</p>
					<p>电话：{company:phone}</p>
					<p>邮箱：{company:email}</p>
					<p>地址：{company:address}</p>
				</div>
			</div>
			<div class="footer-right wow bounceInRight">
				<div class="footer-nav">
				 {nav:pid=0 num=3}
					<div>
						<h5>[nav:name]</h5>
						<ul>
							{nav:pid=[nav:id] num=4 value=nav1}
							<li><a href="[nav1:link]">[nav1:name]</a></li>
							{/nav}
						</ul>
					</div>
				{/nav}

				</div>
				<div class="qrcode"><img src="{site:qrcode}" /><p>手机二维码</p></div>
			</div>
			
		</div>
		<div class="links wow fadeIn">
		友情链接：{link:}
			<a href="{$link.link}" target="_blank">{$link.name}</a>
		{/link}
	 </div>
	 </div>

	 <div class="footer-bottom">
		<div class="wow bounceInUp">
			<span>© 2008-2020 {site:domain}</span>
			{site:icp}Page rendered in {elapsed_time} seconds
	
		</div>
		<div class="wow bounceInUp">
			<span>{$company.name}</span>
			<span>增值电信业务经营许可证</span>
		</div>

	 </div>
</footer>
{statistics:}
<script src="{theme:js/jquery-1.11.3.min.js}"></script>
<script src="{theme:js/swiper.min.js}"></script>
<script src="{theme:js/swiper.animate.min.js}"></script>
<script src="{theme:js/wow.min.js}"></script>
<script src="{theme:js/main.js}"></script>