 
<!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title></title>
<meta content='' name='keywords'>
<meta content='' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
</head>
<body>



</body>
</html> 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
前台功能开发中！
<br/>  
<br/> 
<a href="">首页</a><br>
{sort:}
<a href='{$item.link}'>{$item.name}</a><br>
{/content}
<p>Page rendered in {elapsed_time} seconds</p>
{theme:sdfsad/asdfasdf}<br>
{webroot:aaa/bbb}