 
<!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title>{$site.title}</title>
<meta content='{$site.keywords}' name='keywords'>
<meta content='{$site.description}' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
</head>
<body>
<header>
	<div class="header-container">
		<div class="header-left">logo</div>
		<ul>
			{sort:}
			<li><a href='{$item.link}'>{$item.name}</a></li>
			{/sort}
		</ul>
		<div class="header-right">right</div>
	</div>
</header>

<div class="swiper-container">
    <div class="swiper-wrapper">
		<div class="swiper-slide" style="background:#f00">
			<p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">内容</p>
		</div>
		<div class="swiper-slide">
			<p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">内容</p>
		</div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
 








<script src="{theme:js/jquery-1.11.3.min.js}"></script>
<script src="{theme:js/swiper.min.js}"></script>
<script src="{theme:js/swiper.animate.min.js}"></script>
<script> 
//Swiper5
  var mySwiper = new Swiper ('.swiper-container', {
   // direction: 'herizon', // 垂直切换选项
    loop: true, // 循环模式选项
    
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    
 
  
  
  
    on:{
      init: function(){
        swiperAnimateCache(this); //隐藏动画元素 
        swiperAnimate(this); //初始化完成开始动画
      }, 
      slideChangeTransitionEnd: function(){ 
        swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
        //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); 动画只展现一次，去除ani类名
      } 
    }
  }) 
  </script>
</body>
</html> 
<p>Page rendered in {elapsed_time} seconds</p>