 <!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title>{$site.title}</title>
<meta content='{$site.keywords}' name='keywords'>
<meta content='{$site.description}' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:html/head.html}
<div class="swiper-container">
    <div class="swiper-wrapper">
	{slide:}
		<div class="swiper-slide" style="background-image:url('{$slide.bgpic}'); background-color:{$slide.bgcolor} ">
			<div class="swiper-slide-content">
				<div class="slider-text">
					<h1 class="ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">{$slide.name}</h1>
					<p class="ani" swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s">{$slide.description}</p>
					<div class="download ani"  swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
						<span class="version">最新版本:3.8.1</span>
						<a href="">本站</a>
						<a href="">github</a>
						<a href="">演示</a>
					</div>
				</div>
				<div class="slider-pic ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><img src="{$slide.pic}"></div>
			</div>
		</div>
	{/slide}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
 
<section class="fe">
	<div class="section-content featrue">
		<h1 class="wow fadeInDown">系统特色</h1>
		<p class="wow flipInY">永久开源、免费的 PHP 建站系统</p>
		<ul>
			<li class="wow fadeInDown">
				<div class="roll-icon-box">
					<div class="icon">
						<i class="fa fa-camera-retro"></i>
					</div>
					<div class="content">
						<h3 style="color: rgb(68, 63, 63);">开源免费</h3>
						<p>基于MIT开源协议，被授权人有权利使用、复制、修改、合并、出版、发行、散布、再授权及贩售软件及软件的副本。</p>
					</div>
				</div>
			</li>
			<li  class="wow fadeInDown" style="animation-delay: 0.2s;">
				<div class="roll-icon-box">
					<div class="icon">
						<i class="fa fa-codepen"></i>
					</div>
					<div class="content">
						<h3 style="color: rgb(68, 63, 63);">使用简单</h3>
						<p>系统简洁，高效，易用,一般的开发人员能轻易上手并立刻投身网站建设</p>
					</div>
				</div>
			</li>
			<li  class="wow fadeInDown"  style="animation-delay:0.4s;">
				<div class="roll-icon-box">
					<div class="icon">
						<i class="fa fa-desktop"></i>
					</div>
					<div class="content">
						<h3 style="color: rgb(68, 63, 63);">多站点、多语言</h3>
						<p>可创建多站点，支持站群，可以绑定独立域名，实现站群统一管理和数据共享</p>
					</div>
				</div>
			</li>
	 
		</ul>
		<a href="" class="roll-button more-button">开始使用</a>
	</div>
</section> 

<section class="about">
	<div class="section-content about">
			<h1 class="wow fadeInDown">关于我们</h1>
		<p>永久开源、免费的 PHP 建站系统</p>
		<div class="about-con">
			<div class="about-left wow zoomIn">
				<h3>北京国栋科技有限公司 / GUODONG .TECH</h3>
				<span>80% of the industry leaders</span>
				<p>设计是把一种设想通过合理的规划、周密的计划、通过各种感觉形式传达出来的过程。人类通过劳动改造世界，
				创造文明，创造物质财富和精神财富，而最基础、最主要的创造活动是造物。设计便是造物活动进行预先的计划，
				可以把任何造物活动的计划技术和计划过程理解为设计。</p>
			</div>
			<div class="about-right wow zoomIn">
				<img src="/static/images/index-aboutus.jpg" />
			</div>
		</div>
		

	<div>
</section>



<section class="statistics">
	<div class="statistic">
		<div class="section-content ">
		<div class="sta">
			<div class='sta-left wow'>
				<ul>
					<li><em>10年+</em><p>服务时间</p></li>
					<li><em>50,000+</em><p>开发者</p></li>
					<li><em>200,000+</em><p>使用人次</p></li>
					<li><em>1,380,000+</em><p>当前运行</p></li>
				</ul>
			</div>
			<div class="sta-right">
				<h1 class="wow">稳定可靠、安全省心</h1>
				<p class="wow">简单易用的模板引擎让界面想怎么换就怎么换,灵活的模块组合让网站更丰富、方便网站扩展.便捷自定义模型自己扩展网站后续功能，省去诸多烦恼</p>
				<a href="#resume-sec" class="btn btn-style-two btn-lg wow">开发手册</a>
			</div>
		 
	 
		</div>
		</div>
	</div>
</section>



<section>
	<div class="section-content">
		<h1 class="wow fadeInDown">功能特色</h1>
		<p>我们一直专注于CMS系统研发，累积了丰富的实战经验</p>
		<div class="buss-list">
		<ul>
			<li class="wow">
				<div class="portfolio-block animated"><img src="/static/images/p1.jpg" alt="Protect">
					<div class="portfolio-caption text-center animated">
						<h3 class="">业务中心</h3>
						<a href="#" class="btn btn-social btn-skype btn-sm animated"><i class="fa fa-plus" aria-hidden="true"></i></a>
						<a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
					</div>
				</div>
			</li>
			<li class="wow">
				<div class="portfolio-block animated"><img src="/static/images/p2.jpg" alt="Protect">
					<div class="portfolio-caption text-center animated">
						<h3>业务中心</h3>

						<a href="#" class="btn btn-social btn-skype btn-sm animated"><i class="tn-plus"></i></a>
						<a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="tn-arrow-right"></i></a>
					</div>
				</div>
			</li>
			<li class="wow">
				<div class="portfolio-block"><img src="/static/images/p3.jpg" alt="Protect">
					<div class="portfolio-caption text-center animated">
						<h3>业务中心</h3>

						<a href="#" class="btn btn-social btn-skype btn-sm animated"><i class="tn-plus"></i></a>
						<a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="tn-arrow-right"></i></a>
					</div>
				</div>
			</li>
			<li class="wow">
				<div class="portfolio-block"><img src="/static/images/p4.jpg" alt="Protect">
					<div class="portfolio-caption text-center animated">
						<h3 class="wow">业务中心</h3>

						<a href="#" class="btn btn-social btn-skype btn-sm animated"><i class="tn-plus"></i></a>
						<a href="#" class="btn btn-social btn-stack-overflow btn-sm animated"><i class="tn-arrow-right"></i></a>
					</div>
				</div>
			</li>
 
 
		</ul>
		</div>
	</div>
</section>
{label:name=xingming}
<section>
	<div class="section-content news">
		<h1 class="wow fadeInDown">新闻中心</h1>
		<p>永久开源、免费的 PHP 建站系统</p>
		<div class="news-list">

		<ul class="wow">
			<div class="news-head head1">
				<h3>产品动态</h3>
				<div>产品动态产品动态产品动态</div>
			</div>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
		</ul>
		<ul class="wow">
			<div class="news-head head2">
				<h3>产品动态</h3>
				<div>产品动态产品动态产品动态</div>
			</div>

			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
		</ul>
		<ul class="wow">
			<div class="news-head head3">
				<h3>产品动态</h3>
				<div>产品动态产品动态产品动态</div>
			</div>

			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
			<li><a href="">JellyCMS V3.0.05升级日志</a><span>02-13</span></li>
		</ul>
		</div>
	</div>
</section>
<section class="contact-us">
	<div class="contact">
		<div class="section-content bussines">
			<span>JellyCMS完全免费并开源（MIT Licensed）,50,000+ 使用者，200,000+ 网站及应用</span>
			<a href="">联系我们</a>
		 
	 
		</div>
	</div>
</section>
{include:html/foot.html}
</body>
</html> 
