 <!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title>{sorts:name}-{site:title}</title>
<meta content='{sorts:keywords}' name='keywords'>
<meta content='{sorts:description}' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:head.html}
<div class="sort-banner" style="background:url('/static/images/proxy-pic.png')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="wow bounceInDown">{sorts:name}</span>
			<p class="wow fadeInDown">{sorts:description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="wow flipInX" src="{sorts:ico}" />
		</div>
	</div>

</div>
<div class="position wow bounceInLeft"><i class="fa fa-home" aria-hidden="true"></i><a href="/">首页</a>{position:}><a href="[position:link]">[position:name]</a>{/position}</div>
<div class="wrap">
	<div class="wrap-content">
		{include:left.html}
			<div class="products right wow bounceInRight buss-list">
			<ul>
			
			{list:num=9 order=id desc where=id>0,status eq 1}
			<li class="wow">
				<div class="portfolio-block animated">
				<a href="[list:link]">
					<img src="{$list.pic}" alt="Protect">
					<div class="portfolio-caption text-center animated">
						<h3 class="">[list:title]</h3>
						<p>{$list.description}</p>
					</div>
				</a>
				</div>
			</li>
			{/list}
			{if:empty($list)}<li>分类无数据</li>{/if}
			</ul>

			</div>
	</div>
	<div class="wow bounceInLeft">{pagebar:bar}</div>
</div>
{include:foot.html}
</body>
</html>