			<aside class="left">
				<div class="sorts-fixed">
					<div class="list-nav sect  wow bounceInLeft">
						<h2><span>company</span>NEWS</h2>
						<ul class="default-pc-sidebar-ul ">
							<li class="a"><a href="news-list-3333-1.html">公司新闻</a></li>
							<li><a href="news-list-3335-1.html">媒体新闻</a></li>
							<li><a href="news-list-3337-1.html">国家标准</a></li>
							<li><a href="news-list-3339-1.html">多媒体</a></li>
						</ul>
					</div>
					<div class="recommend left-nav sect  wow bounceInLeft">
						<h3>推荐阅读</h3>
						<ul>
							<li><a href="">2020年PHP 高级面试题试题</a><span>阅读：236</span></li>
							<li><a href="">2020年PHP 高级面试题试题</a><span>阅读：236</span></li>
							<li><a href="">2020年PHP 高级面试题试题</a><span>阅读：236</span></li>
							<li><a href="">2020年PHP 高级面试题试题</a><span>阅读：236</span></li>
							<li><a href="">2020年PHP 高级面试题试题</a><span>阅读：236</span></li>
							<li><a href="">2020年PHP 高级面试题试题</a><span>阅读：236</span></li>

						</ul>
					</div>
					<div class="left-contact-us left-nav sect  wow bounceInLeft">
						<h3>联系我们</h3>
						<p>联系人：吴先生</p>
						<p>手机：18926129998</p>
						<p>电话：020-22043297</p>
						<p>邮箱：510551@qq.com</p>
						<p>地址： 广东省广州市天河区天平架沙太路沙太路</p>
					</div>
				</div>
			</aside>