			<aside class="left">
				<div class="sorts-fixed">
					<div class="list-nav sect  wow bounceInLeft">
						<h2><span>{sorts:enname}</span>NEWS</h2>
						<ul class="default-pc-sidebar-ul ">
							{nav:pid=$topsort['id']}
							<li><a {if:$sort['id'] == $nav['id']}class="active"{/if} href='{$nav.link}'>{$nav.name}</a></li>
							{/nav}
						</ul>
					</div>
					<div class="recommend left-nav sect  wow bounceInLeft">
						<h3>推荐阅读</h3>
						<ul>
						{list:num=5 id=2 where=recommend eq 1}
							<li><a href="[list:link]">[list:title]</a><span>阅读：[list:visit]</span></li>
						{/list}
						</ul>
					</div>
					<div class="left-contact-us left-nav sect  wow bounceInLeft">
						<h3>联系我们</h3>
						<p>联系人：{company:contact}</p>
						<p>手机：{company:mobile}</p>
						<p>电话：{company:phone}</p>
						<p>邮箱：{company:email}</p>
						<p>地址： {company:address}</p>
					</div>
				</div>
			</aside>