 <!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title>{sorts:name}-{site:title}</title>
<meta content='{sorts:keywords}' name='keywords'>
<meta content='{sorts:description}' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:head.html}
<div class="sort-banner" style="background:url('{sorts:pic}')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="wow bounceInDown">{sorts:name}</span>
			<p class="wow fadeInDown">{sorts:description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="wow flipInX" src="{sorts:ico}" />
		</div>
	</div>

</div>
	<div class="position wow bounceInLeft"><i class="fa fa-home" aria-hidden="true"></i><a href="/">首页</a>{position:}><a href="[position:link]">[position:name]</a>{/position}</div>	 			
	<div class="wrap">
		<div class="wrap-content">
			{include:left.html}
			<div class="news right wow bounceInRight">
			{list:num=5 order=id desc where=id>0,status eq 1}
			<li>
				<a href="[list:link]">
					<div class="details">
						<h3 class="s">[list:title]</h3>
						<em></em>
						<p>[list:content len=100]</p>
						<h4><i class="fa fa-clock-o" aria-hidden="true"></i>[list:create_time style=Y年m月d日]</h4>
					</div>
				</a>
			</li>
			{/list}
			{if:empty($list)}<li>分类无数据</li>{/if}
			</div>
			
		</div>
		<div class="wow bounceInLeft">{pagebar:bar}</div>
	</div>
<!-- {pics:from=sort id=2 num=10}
{$pics.src}
{/pics} -->
<!-- list标签简化版
ID不传取CONTENT.ID，SORT不传取CONTENT表所有数据。当前sort=$sort['id']
{tags:id=1,2,3 sort=1,2,3,4 num=3}


{/tags} -->
{include:foot.html}
</body>
</html>