 <!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title>{$site.title}</title>
<meta content='{$site.keywords}' name='keywords'>
<meta content='{$site.description}' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:html/head.html}
<div class="sort-banner" style="background:url('/static/images/proxy-pic.png')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="wow bounceInDown">{$sort.name}</span>
			<p class="wow fadeInDown">{$sort.description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="wow flipInX" src="{$sort.ico}" />
		</div>
	</div>

</div>
	<div class="position wow bounceInLeft"><i class="fa fa-home" aria-hidden="true"></i><a href="/">首页</a>{position:}><a href="{$position.link}">{$position.name}</a>{/position}</div>	 			
	<div class="wrap">
		<div class="wrap-content">
			{include:html/left.html}
			<div class="news right wow bounceInRight">
			{list:num=5 order=id desc where=id>0,status eq 1}
			<li>
				<a href="{$list.link}">
					<div class="details">
						<h3 class="s">{$list.title}</h3>
						<em></em>
						<p>2019年11月18-20日SFCHINA第三十二届中国国际表面处理展以及CHINACOAT第二十四届中国国际涂料展于上海新国际博览中心隆重举办。2019「涂料展」及「表面处理」* 3天展期 ...</p>
						<h4><i class="fa fa-clock-o" aria-hidden="true"></i>2019年09月17日</h4>
					</div>
				</a>
			</li>
			{/list}
			{if:empty($list)}<li>分类无数据</li>{/if}
			</div>
			
		</div>
		<div class="wow bounceInLeft">{pagebar:bar}</div>
	</div>
<!-- {pics:from=sort id=2 num=10}
{$pics.src}
{/pics} -->
<!-- list标签简化版
ID不传取CONTENT.ID，SORT不传取CONTENT表所有数据。当前sort=$sort['id']
{tags:id=1,2,3 sort=1,2,3,4 num=3}


{/tags} -->
{include:html/foot.html}
</body>
</html>