 <!DOCTYPE html>
<html class='mb-landing' data-server='CN' lang='zh-Hans-CN'>
<head>
<meta charset='utf-8'>
<meta content='ie=edge' http-equiv='x-ua-compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='webkit' name='renderer'>
<title>{$site.title}</title>
<meta content='{$site.keywords}' name='keywords'>
<meta content='{$site.description}' name='description'>
<link rel="stylesheet" media="screen" href="{theme:css/main.css}" />
<link rel="stylesheet" href="{theme:css/swiper.min.css}">
<link rel="stylesheet" href="{theme:css/animate.min.css}">
<link rel="stylesheet" href="{webroot:static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
{include:html/head.html}
<div class="sort-banner" style="background:url('/static/images/proxy-pic.png')">
	<div class="sort-banner-content">
		<div class="sort-banner-left">
			<span class="wow bounceInDown">{$sort.name}</span>
			<p class="wow fadeInDown">{$sort.description}</p>
		</div>
		<div class="sort-banner-right">
			<img class="wow flipInX" src="{$sort.ico}" />
		</div>
	</div>

</div>
<div class="position wow bounceInLeft"><i class="fa fa-home" aria-hidden="true"></i><a href="/">首页</a>{position:}><a href="{$position.link}">{$position.name}</a>{/position}</div>
<div class="wrap">
	<div class="wrap-content product-list">
		<div class="head-title">
            <div class="formMiddle formMiddle154943" style="">
                <div class="ztextbox">
                    <span class="sort-name">{$sort.name}</span>
					<div><span class="en-name">{$sort.slogan}</span></div>
                </div>
            </div>
        </div>
		<ul>
		{list:num=6 order=id desc where=id>0,status eq 1}
			<li>
				<div class="item wow zoomIn">
					<div class="item-pic">
						<a href="{$list.link}" title="{$list.title}">
							<img class="aritcl_img" src="{$list.pic}" alt="">
						</a>
					</div>
					<div class="listcontent">
						<div class="list-text">
							<a class="list-title" href="{$list.link}" title="{$list.title}">
								<span style="">{$list.title}</span>
							</a>
							<div class="description">
							{$list.description}...  
							</div>
						</div>
					</div>
				</div>
			</li>
			{/list}
			{if:empty($list)}<li>分类无数据</li>{/if}
        </ul>

	</div>
	<div class="wow bounceInLeft">{pagebar:bar}</div>
</div>
{include:html/foot.html}
</body>
</html>