<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>国栋CMS</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="guodong-body">
 <div class="layui-card layadmin-header  animated fadeInDown">
  <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
    <a lay-href="">主页</a><span lay-separator="">/</span>
    <a><cite>设置</cite></a><span lay-separator="">/</span>
    <a><cite>我的密码</cite></a>
  </div>
</div>
<div class="layui-fluid animated fadeInDown">
<div class="layui-row">
	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">区域列表</li>
	    <li lay-id="t2">新增/编辑区域</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
				<table class="layui-hide" id="table" lay-filter="test"></table>
				<script type="text/html" id="toolbarDemo">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="add"><span>+</span>新建区域</button>
					</div>
				</script>
				<script type="text/html" id="barDemo">
				  <a class="layui-btn layui-btn-xs" {data-id} lay-event="edit"><i class="fa fa-pencil fa-fw"></i>编辑</a>
				  <a class="layui-btn layui-btn-danger {data-id} layui-btn-xs" lay-event="del"><i class="fa fa-trash-o fa-fw"></i>删除</a>
				</script>
		  </div>
		   
    	   <div class="layui-tab-item">
				<form action="{url:/Area/edit}" method="post" id="form" class="layui-form">
					<input type="hidden" name="id" value=""> 
	                <div class="layui-form-item">
	                     <label class="layui-form-label">区域名称</label>
	                     <div class="layui-input-block">
	                     	<input type="text" name="name" required="" lay-verify="required" placeholder="请输入区域名称，如：中文" class="layui-input">
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">区域编码</label>
	                     <div class="layui-input-block">
	                     	<input type="text" name="surname" required="" lay-verify="required" placeholder="请输入区域编码，如：cn" class="layui-input">
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">绑定域名</label>
	                     <div class="layui-input-block">
	                     	<input type="text" name="domain" placeholder="请不要填写重复的域名，不区分就不填！" class="layui-input">
	                     </div>
	                </div>
					<div class="layui-form-item">
						 <label class="layui-form-label">绑定模板</label>
						<div class="layui-input-inline">
							<select name="group_id" lay-verify="required">
								<option value="">选择模板</option>
								<option value="default">default</option>
								<option value="default">default</option>
								
							</select>
						</div>
					</div>
	                <div class="layui-form-item">
	                     <label class="layui-form-label">是否默认</label>
	                     <div class="layui-input-block">
	                     	<input type="radio" name="is_default" value="1" title="是">
							<input type="radio" name="is_default" value="0" title="否" checked="">
	                     </div>
	                </div>
	                
	                 <div class="layui-form-item">
						 <div class="layui-input-block">
						    <button class="layui-btn" lay-submit="">立即提交</button>
						    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						 </div>
					</div>
				</form>
		    </div>
	  </div>
	</div>  
		
	 
	
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/admin.js"></script>
<script>
!function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var element = layui.element;
	var $ = layui.jquery;
	table.render({
		elem: '#table',url:'{url:/area/getList}',
		toolbar: '#toolbarDemo',
		title: '提示',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'名称',width:80},
			{field:'domain', title:'绑定域名'},
			{field:'is_default', title:'默认', width:120, hide:true},
			{field:'is_default_text', title:'默认', width:90, event: 'editStatus',templet: function(res){
				if(res.is_default == 1){
					return '<input type="checkbox" name="switch" checked lay-skin="switch" lay-text="Y|N">';
				}else{
					return '<input type="checkbox" name="switch" lay-skin="switch" lay-text="Y|N">';
				}
				
			}},
			{field:'create_user', title:'添加用户', width:100, hide:true},
			{field:'create_time', title:'添加时间', width:180},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
		]],
		page: true
	});
	//监听行工具事件
	table.on('tool(test)', function(obj){
		var data = obj.data;
		if(obj.event === 'del'){
			layer.confirm('真的删除行么', function(index){
				$.post('{url:/area/del}',{id:obj.data.id},function(data){
					if(data.code == 1){
						layer.msg(data.msg)
						obj.del();
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
			});
		} else if(obj.event === 'edit'){
			$('#form')[0].reset(); //重置表单
			loadData(obj.data, '#form')
			form.render();
			element.tabChange('tab', 't2');
		}
	});
	//头工具栏事件
	table.on('toolbar(test)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		switch(obj.event){
			case 'add':
				element.tabChange('tab', 't2');
				$('#form')[0].reset();
			break;
		};
		form.render();
	});	
}();
</script>
</body>
</html>