<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.title}-{$GLOBALS.version}-{$GLOBALS.subtitle}</title>
<meta content='{$GLOBALS.description}' name='description'>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid animated {$GLOBALS.animate}">
<div class="layui-row">
	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">区域列表</li>
	    <li lay-id="t2">新增/编辑区域</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
				<table class="layui-hide" id="table" lay-filter="test"></table>
				<script type="text/html" id="toolbarDemo">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="add">新建区域</button>
					</div>
				</script>
				<script type="text/html" id="barDemo">
					<div class="layui-btn-group">
						<button type="button" class="layui-btn layui-btn-sm" title="编辑" lay-event="edit"><i class="layui-icon"></i></button>
						<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" title="删除" lay-event="del"><i class="layui-icon"></i></button>
					</div>
				</script>
		  </div>
		   
    	   <div class="layui-tab-item">
				<form action="{url:/Area/edit}" method="post" id="form" class="layui-form">
					<input type="hidden" name="id" value=""> 
	                <div class="layui-form-item">
	                     <label class="layui-form-label">区域名称</label>
	                     <div class="layui-input-inline">
	                     	<input type="text" name="name" lay-verify="required" placeholder="请输入区域名称，如：中文" class="layui-input">
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">英文别名</label>
	                     <div class="layui-input-inline">
	                     	<input type="text" name="surname" lay-verify="required|en" placeholder="英文别名" class="layui-input">
	                     </div>
	                </div>
                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">绑定域名</label>
	                     <div class="layui-input-inline">
	                     	<input type="text" name="domain" placeholder="不要填写重复的域名，可为空！" class="layui-input">
	                     </div>
	                </div>
					<div class="layui-form-item">
						 <label class="layui-form-label">PC模板</label>
						<div class="layui-input-inline">
							<select name="pctheme" lay-verify="required">
								<option value="">选择PC模板</option>
								{foreach:items = $themeList key=$k item=$v}
								<option {if:$site['pctheme']==$v}selected{/if} value="{$v}">{$v}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						 <label class="layui-form-label">WAP模板</label>
						<div class="layui-input-inline">
							<select name="mobiletheme" lay-verify="required">
								<option value="">选择WAP模板</option>
								{foreach:items = $themeList key=$k item=$v}
								<option {if:$site['pctheme']==$v}selected{/if} value="{$v}">{$v}</option>
								{/foreach}
							</select>
						</div>
					</div>
	                <div class="layui-form-item">
	                     <label class="layui-form-label">模板文件夹</label>
	                     <div class="layui-input-inline">
	                     	<input type="text" name="htmlfolder" value="html" lay-verify="required" placeholder="模板文件夹" class="layui-input">
	                     </div>
	                </div>	
	                <div class="layui-form-item">
	                     <label class="layui-form-label">是否默认</label>
	                     <div class="layui-input-block">
	                     	<input type="radio" name="default" value="1" title="是">
							<input type="radio" name="default" value="0" title="否" checked="">
	                     </div>
	                </div>
	                
	                 <div class="layui-form-item">
						 <div class="layui-input-block">
							<button lay-submit lay-filter="submit" class="layui-btn">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						 </div>
					</div>
				</form>
		    </div>
	  </div>
	</div>  
		
	 
	
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/loadData.js"></script>
<script>
!function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var element = layui.element;
	var $ = layui.jquery;
	//自定义表单验证
      form.verify({
          en:[
              /^[a-zA-Z]+$/,'只能输入英文'
          ]
      });
	table.render({
		elem: '#table',url:'{url:/area/getList}',
		toolbar: '#toolbarDemo',
		title: '提示',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'名称',width:80, edit:'text'},
			{field:'surname', title:'英文别名',width:100, edit:'text'},
			{field:'domain', title:'绑定域名', edit:'text'},
			{field:'default', title:'默认', width:90, event: 'switch',templet: function(res){
				if(res.default == 1){
					return '<input type="checkbox" name="default" checked lay-skin="switch" lay-text="Y|N">';
				}else{
					return '<input type="checkbox" name="default" lay-skin="switch" lay-text="Y|N">';
				}
				
			}},
			{field:'create_user', title:'添加用户', width:100, hide:true},
			{field:'create_time', title:'添加时间', width:180},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:105}
		]],
		page: true
	});
	//监听单元格编辑
	table.on('edit(test)', function(obj){
		var value = obj.value, //得到修改后的值
		data = obj.data, //得到所在行所有键值
		field = obj.field; //得到字段
		$.post('{url:/area/changeValue}',{id:data.id,value:value,field:field},function(data){
			if(data.code == 1){
				layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
	});
	//监听行工具事件
	table.on('tool(test)', function(obj){
		var data = obj.data;
		if(obj.event === 'del'){
			layer.confirm('真的删除行么', function(index){
				$.post('{url:/area/del}',{id:obj.data.id},function(data){
					if(data.code == 1){
						layer.msg(data.msg)
						obj.del();
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
			});
		}else if(obj.event === 'edit'){
			$('#form')[0].reset(); //重置表单
			loadData(obj.data, '#form')
			form.render();
			element.tabChange('tab', 't2');
		}else if(obj.event === 'switch'){
			var switchName = $(this).find('input[type="checkbox"]').attr("name");
			var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
			switchValue = Number(switchValue);
			$.post('{url:/area/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue},function(data){
				if(data.code == 1){
					layer.msg(data.msg);
					//parent.location.reload();//刷新父窗口
					table.reload('table');
				}
				else{
					layer.msg(data.msg);
					table.reload('table');
				}
			}, 'json');
			form.render();
		}
	});
	//头工具栏事件
	table.on('toolbar(test)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		switch(obj.event){
			case 'add':
				element.tabChange('tab', 't2');
				$('#form')[0].reset();
			break;
		};
		form.render();
	});	
form.on('submit(submit)', function(data){
   var url = $("#form").attr('action');
   $.ajax({
        url:url, //请求的服务端地址
        data:data.field,
        type:"post",
        dataType:"json",
        success:function(data){
			if(data.code == 1){
				layer.msg(data.msg)
				setTimeout(function (){
					window.location.reload();
				}, 1000);
			}
			else{
				layer.msg(data.msg)
			}  
        },
        error:function(){
          layer.msg('error'); //错误处理
        }
    });
   return false;
});
}();
</script>
</body>
</html>