<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.title}-{$GLOBALS.version}-{$GLOBALS.subtitle}</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid">
<div class="layui-row">
	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">{$model_name}列表</li>
	    <a id="add-content" href="{url:/Content/ContentEdit/}{$model_id}/0"><li lay-id="t2" >添加/编辑{$model_name}</li></a>
	  </ul>
	  <div class="layui-tab-content animated fadeIn" >
	  	   <div class="layui-tab-item layui-show">
				<table class="layui-hide" id="table" lay-filter="test"></table>
				<script type="text/html" id="toolbarDemo">

					<div class="layui-btn-container layui-input-inline">
						<div class="layui-btn-group">
							<button type="button" class="layui-btn layui-btn-sm"  lay-event="add">添加</button>
							<button type="button" class="layui-btn layui-btn-sm" lay-event="batchdel">批量删除</button>
						</div>
						<div class="layui-btn-group">
							<button type="button" class="layui-btn layui-btn-sm" lay-event="copy">复制</button>
							<button type="button" class="layui-btn layui-btn-sm" lay-event="move">移动</button>
						</div>
					</div>
					<div class="layui-input-inline">到</div>
					<form action="" method="post" id="form" class="layui-form layui-input-inline">
						<div class="layui-input-inline" style="min-width:200px;">
							<select name="sorts">
								<option value="">选择栏目</option>
								{foreach:items = $sorts key=$k item=$v}
								<option value="{$v.id}">{$v.name}</option>
								{/foreach}
							</select>
						</div>
						<div class="layui-input-inline" style="width:200px;">
							<input type="text" name="keywords" placeholder="输入关键词" class="layui-input">
						</div>
						<div class="layui-input-inline">
							<button class="layui-btn" id="submit" type="submit">搜索</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</form>
				</script>
				<script type="text/html" id="barDemo">
					<div class="layui-btn-group">
						<button type="button" class="layui-btn layui-btn-sm" title="编辑" lay-event="edit"><i class="layui-icon"></i></button>
						<button type="button" class="layui-btn layui-btn-sm" title="删除" lay-event="del"><i class="layui-icon"></i></button>
						<button type="button" class="layui-btn layui-btn-sm" title="浏览" lay-event="browse"><i class="layui-icon"></i></button>
					</div>
 
				</script>  
	  	   </div>
	  </div>
	 </div>
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script>
!function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var element = layui.element;
	var $ = layui.jquery;
	table.render({
		elem: '#table',url:'{url:/content/getList/}{$model_id}',
		toolbar: '#toolbarDemo',
		title: '{$model_name}列表',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{type: 'checkbox', fixed: 'left'},
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'title', title:'标题', edit:'text'},
			{field:'sort_name', title:'栏目名称', width:120},
			{field:'link', title:'链接',hide:true},
			{field:'top', title:'置顶', width:90,event:'switch',templet: function(res){
				if(res.top == 1){
					return '<input type="checkbox" name="top"  checked lay-skin="switch" lay-text="Y|N">';
				}else{
					return '<input type="checkbox" name="top" lay-skin="switch" lay-text="Y|N">';
				}
				
			}},
			{field:'recommend', title:'推荐', width:120,event:'switch',templet: function(res){
				if(res.recommend == 1){
					return '<input type="checkbox" name="recommend"  checked lay-skin="switch" lay-text="Y|N">';
				}else{
					return '<input type="checkbox" name="recommend" lay-skin="switch" lay-text="Y|N">';
				
				}
			}},
			{field:'headline', title:'头条', width:120,event:'switch',templet: function(res){
				if(res.recommend == 1){
					return '<input type="checkbox" name="headline"  checked lay-skin="switch" lay-text="Y|N">';
				}else{
					return '<input type="checkbox" name="headline" lay-skin="switch" lay-text="Y|N">';
				}
				
			}},
			{field:'create_user', title:'创建用户', width:100},
			{field:'create_time', title:'添加时间', width:180},
			{field:'status', title:'状态', width:90,event:'switch', templet: function(res){
				if(res.status == 1){
					return '<input type="checkbox" name="status"  checked lay-skin="switch" lay-text="ON|OFF">';
				}else{
					return '<input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">';
				}
				
			}},
			{field:'sorting', title:'排序', width:80, edit: 'text', sort: true,},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
		]],
		page: true
	});
	//监听单元格编辑
	table.on('edit(test)', function(obj){
		var value = obj.value, //得到修改后的值
		data = obj.data, //得到所在行所有键值
		field = obj.field; //得到字段
		$.post('{url:/content/changeValue}',{id:data.id,value:value,field:field},function(data){
			if(data.code == 1){
				layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
	});
	//监听行工具事件
	table.on('tool(test)', function(obj){
		var data = obj.data;
		//console.log(obj)
		if(obj.event === 'del'){
			layer.confirm('真的删除行么', function(index){
				$.post('{url:/content/del}',{id:obj.data.id},function(data){
					if(data.code == 1){
						layer.msg(data.msg)
						obj.del();
					}
					else{
						layer.msg(data.msg)
					}
				},'json');
				layer.close(index);
			});
		}else if(obj.event === 'edit'){
			window.location.href='{url:/Content/ContentEdit/}{$model_id}/'+obj.data.id;
		}else if(obj.event === 'browse'){
			window.open(obj.data.link);
		}else if(obj.event === 'switch'){
			var switchName = $(this).find('input[type="checkbox"]').attr("name");
			var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
			switchValue = Number(switchValue);
			$.post('{url:/content/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue},function(data){
				if(data.code == 1){
					layer.msg(data.msg)
				}
				else{
					layer.msg(data.msg)
				}
			}, 'json');
			form.render();
		}
	});
	
	//头工具栏事件
	table.on('toolbar(test)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		switch(obj.event){
			case 'add':
				window.location.href='{url:/Content/ContentEdit/}{$model_id}/0';
			break;
			case 'copy':
				var sorts_id = $('select[name=sorts] option:selected').val();
				if(!sorts_id){
					layer.msg('请选择栏目');
					break;
				}
				var ids = new Array();
				var data = checkStatus.data;
				if(!data.length){
					layer.msg('请选择要操作的数据');
					break;
				}
				$.each(data, function(i, n){
					ids.unshift(n.id)
				})
				$.post('{url:/content/copy}',{ids:ids,sorts_id:sorts_id},function(data){
					if(data.code == 1){
						layer.msg(data.msg);
						table.reload('table');
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
			break;
			case 'move':
				var sorts_id = $('select[name=sorts] option:selected').val();
				if(!sorts_id){
					layer.msg('请选择栏目');
					break;
				}
				var ids = new Array();
				var data = checkStatus.data;
				if(!data.length){
					layer.msg('请选择要操作的数据');
					break;
				}
				$.each(data, function(i, n){
					ids.unshift(n.id)
				})
				$.post('{url:/content/move}',{ids:ids, sorts_id:sorts_id},function(data){
					if(data.code == 1){
						layer.msg(data.msg);
						table.reload('table');
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
			break;
			case 'batchdel':
				var ids = new Array();
				var data = checkStatus.data;
				if(!data.length){
					layer.msg('请选择要操作的数据');
					break;
				}
				$.each(data, function(i, n){
					ids.unshift(n.id)
				})
				$.post('{url:/content/batchdel}',{ids:ids},function(data){
					if(data.code == 1){
						layer.msg(data.msg);
						table.reload('table');
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
			break;
		};
		form.render();
	});
}();
</script>
</body>
</html>