<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.systemname}-version{$GLOBALS.version}-{$GLOBALS.syscompany}</title>
<meta content='{$GLOBALS.sysdescription}' name='description'>
<link rel="stylesheet" href="{$GLOBALS.self_path}/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="{$GLOBALS.self_path}/static/css/main.css">
<link rel="stylesheet" href="{$GLOBALS.self_path}/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="{$GLOBALS.self_path}/static/css/animate.min.css">
</head>
<style>
 
.console {
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid #F8F8F8;
    border-top-width: 0;
    padding: 10px;
    line-height: 20px;
    overflow: auto;
    background-color: #3F3F3F;
    color: #eee;
    font-size: 12px;
    font-family: Courier New;
}
.console .green{
	color: #52c018!important;
}
.console .red{
	color: #ff3300!important;
}
.layui-layer-page .layui-layer-content {
     padding-top: 0px; 
}

</style>
<body class="guodong-body">
{set:$dataSize=0}
{set:$DataFreeSize=0}
{include:head.html}
<div class="layui-fluid animated {$GLOBALS.animate}">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
		  <ul class="layui-tab-title">
		    <li class="layui-this" lay-id="t1">备份管理</li>
		    <li lay-id="t2"><a href="{url:/db/dbmanage}">数据库管理</a></li>
		  </ul>
		  <div class="layui-tab-content">
		  	   <div class="layui-tab-item layui-show">
					<table class="layui-hide" id="table" lay-filter="test"></table>
					<script type="text/html" id="toolbarDemo">
						<div class="layui-btn-container ">
							<div class="layui-btn-group">
								<button class="layui-btn layui-btn-sm" lay-event="batchdel">批量删除</button>
								<button class="layui-btn layui-btn-sm" lay-event="packdownload">打包下载</button>
								<button class="layui-btn layui-btn-sm" id="upload" lay-event="import">本地导入</button>
							</div>
						</div>
					</script>
					<script type="text/html" id="barDemo">
							<div class="layui-btn-group">
								<button class="layui-btn layui-btn-sm" lay-event="recovery">还原</button>
								<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del"><i class="layui-icon"></i></button>
							</div>
					</script>
			  	</div>
		  </div>
	  </div>
</div>
</div>

<div id="console" style="display:none;">
	<div class="console" contenteditable=true>
		<ul id="console-content">
			<li class="green">表gd_user完成</li>
			<li class="red">服务器返回时间0.7S</li>
		</ul>
	</div>
</div>
<script src="{$GLOBALS.self_path}/static/layui/layui.js"></script>
<!-- layer模块增加了content方法，不要用官方文件直接替换 -->
<script>
layui.use(['layer', 'form','table','upload','jquery','element'], function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var element = layui.element;
	var upload = layui.upload;
	var $ = layui.jquery;
	table.render({
		elem: '#table',url:'{url:/db/getList}',
		toolbar: '#toolbarDemo',
		title: '提示',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		autoSort: true,
		cols: [[
			{type: 'checkbox', fixed: 'left'},
			{field:'name', title:'文件名'},
			{field:'size', title:'使用空间',width:100},
			{field:'time', title:'创建时间',width:180},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:110}
		]],
	});
 
 	//监听行工具事件
	table.on('tool(test)', function(obj){
		var data = obj.data;
		//console.log(obj)
		if(obj.event === 'del'){
			layer.confirm('真的删除行么', function(index){
				//单个文件转换成数组
				var files = [obj.data.name];
				$.post('{url:/db/del}',{files:files},function(data){
					if(data.code == 1){
						layer.msg(data.msg)
						table.reload('table');
					}
					else{
						layer.msg(data.msg)
					}
				},'json');
				layer.close(index);
			});
		}else if(obj.event === 'recovery'){
			layer.confirm('危险操作，真的要还原数据吗？', function(index){
				layer_loading('正在执行数据库还原');
				//单个文件转换成数组
				var files = [obj.data.name];
				$.post('{url:/db/recovery}',{files:files},function(data){
					if(data.code == 1){
						parent.layer.closeAll();
						layer.msg(data.msg,function(){
							top.location.reload();
						})
					}
					else{
						parent.layer.closeAll();
						layer.msg(data.msg);
					}
				},'json');
				layer.close(index);
			});
		}
	});
	//头工具栏事件
	table.on('toolbar(test)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		var data = checkStatus.data;
		switch(obj.event){
			case 'batchdel':
				layer.confirm('真的删除行么', function(index){
					
					if(data.length==0){
						layer.msg('请选择需要删除的备份');
						return false;
					}
					var files = new Array();
					data.forEach(function (item, idnex, array) {
						files.push(item.name);
					})
					$.post('{url:/db/del}',{files:files},function(data){
						if(data.code == 1){
							layer.msg(data.msg);
							table.reload('table');
						}
						else{
							layer.msg(data.msg);
						}
					}, 'json');
				});
				break;
			case 'packdownload':
				if(data.length==0){
					layer.msg('请选择需要打包的文件');
					return false;
				}
				var files = new Array();
				data.forEach(function (item, idnex, array) {
					files.push(item.name);
				})
				$.post('{url:/db/packdownload}',{files:files},function(data){
					if(data.code == 1){
						layer.alert('打包完成，<a style="color:red"  href="{url:/db/download/}'+data.filename+'">点击下载</a>');
						table.reload('table');
					}
					else{
						layer.msg(data.msg);
					}
				}, 'json');
				break;
		};
		form.render();
	})
	function layer_loading(msg){
		var loading = parent.layer.msg(
		msg+'...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请勿刷新页面', 
		{
			icon: 1,
			time: 3600000, //1小时后后自动关闭
			shade: [0.2] //0.1透明度的白色背景
		});
		//loading层
		var index = parent.layer.load(3, {
			shade: [0.1,'#fff'] //0.1透明度的白色背景
		});

		return loading;
	}
	//执行实例
	var uploadInst = upload.render({
		elem: '#upload',
		accept:'file',
		url: '{url:/db/upload}',
		done: function(res){
			//上传完毕回调
			table.reload('table');
			layer.msg(res['msg']);
		},
		error: function(){
			//请求异常回调
		}
	})
})
</script>
</body>
</html>