<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb layui-input-inline" lay-filter="breadcrumb" style="visibility: visible;">
		<a lay-href="">主页</a>
		{set:$position = getPosition()}
		{foreach:items = $position key=$k item=$v}
		<span lay-separator="">/</span><a><cite>{$v.name}</cite></a>
		{/foreach}
		
	</div>
<!-- 	<div class="layui-input-inline">
		<form action="" method="post" class="layui-form">
			<div class="layui-form-item op-top">
				<label class="layui-form-label"><a href="">首页</a></label>
				<label class="layui-form-label"><a href="">清缓存</a></label>
				<label class="layui-form-label">当前区域</label>
				<div class="layui-input-inline area-select">
					<select name="area">
						<option value="">切换</option>
						<option value="default">中文</option>
						<option value="default">英文</option>
					</select>
				</div>
			</div>
		</form>
	</div> -->
</div>

