<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.title}-{$GLOBALS.version}-{$GLOBALS.subtitle}</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/loadData.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid animated fadeIn">
<div class="layui-row">
	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	<ul class="layui-tab-title">
		<li class="layui-this" lay-id="t1">标签列表</li>
	</ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
			<table class="layui-hide" id="test" lay-filter="test"></table>
			<script type="text/html" id="toolbarDemo">
			  <div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm" id="btn-add">新建标签</button>
			  </div>
			</script>
			<script type="text/html" id="barDemo">
				<div class="layui-btn-group">
					<button type="button" class="layui-btn layui-btn-sm" title="编辑" lay-event="edit"><i class="layui-icon"></i></button>
					<button type="button" class="layui-btn layui-btn-sm" title="删除" lay-event="del"><i class="layui-icon"></i></button>
				</div>
			</script>
	  	</div>
	  	<script type="text/html" id="gd-form">
			<div style="padding-right:30px;">
				 <form action="" method="post" class="layui-form" id="form">
					<input type="hidden" name="id" value="">
					<div class="layui-form-item">
						 <label class="layui-form-label">类型*</label>
						 <div class="layui-input-block">
							<select name="type" lay-filter='select' id="select" lay-verify="required">
								<option value="">选择类型</option>
								<option value="input">单行文本</option>
								<option value="textarea">多行文本</option>
								<option value="radio">单选按钮</option>
								<option value="checkbox">多选按钮</option>
								<option value="pic">图片上传</option>
								<option value="file">附件上传</option>
								<option value="time">日期选择</option>
								<option value="editor">编辑器</option>
								<option value="select">下拉选择</option>
							</select>
						 </div>
					</div>
					<div class="layui-form-item">
						 <label class="layui-form-label">名称*</label>
						 <div class="layui-input-block">
							<input type="text" name="name" lay-verify="required" placeholder="请输入标签名称" class="layui-input">
							<div class="layui-form-mid layui-word-aux">只能含有字母、数字、下划线</div>
						 </div>
					</div>
					
					<div class="layui-form-item">
						 <label class="layui-form-label">描述</label>
						 <div class="layui-input-block">
							<input type="text" name="description" lay-verify="required" placeholder="请输入标签描述" class="layui-input">
						 </div>
					</div>
					<div class="layui-form-item value" style="display:none;">
						<label class="layui-form-label">标签值</label>
						<div class="layui-input-block">
							<textarea name="value" placeholder="多个选项用逗号隔开或者回车" class="layui-textarea"></textarea>
							<div class="layui-form-mid layui-word-aux">只在类型为单选或多选时填写有效。焦点离开此处在下方预览</div>
						</div>
					</div>
					<div class="layui-form-item content">
						 <label class="layui-form-label">标签内容</label>
						 <div class="content-container">
							 <div class="layui-input-block">
								<input type="text" name="content" lay-verify="required" placeholder="请输入标签内容" class="layui-input">
							 </div>
						 </div>
					</div>
				 </form>
			</div>
	  	</script>
	  	
	  </div>
	</div>
	</div>
<script type="text/html" id="input">
	<div class="layui-input-block">
		<input type="text" name="content" lay-verify="required" placeholder="请输入标签内容" class="layui-input">
	</div>
</script>
<script type="text/html" id="textarea">
	<div class="layui-input-block">
		<textarea name="content" placeholder="" class="layui-textarea"></textarea>
		<div class="layui-form-mid layui-word-aux"></div>
	</div>
</script>
<script type="text/html" id="radio">
	<div class="layui-input-block radio"></div>
</script>
<script type="text/html" id="checkbox">
    <div class="layui-input-block checkbox"></div>
</script>
<script type="text/html" id="select">
    <div class="layui-input-block">
      <select class="select" name="content">
      </select>
    </div>
</script>
<script type="text/html" id="pic">
	<div class="layui-input-inline">
		<input type="text" name="content" placeholder="请上传图片" value="" class="layui-input">
	</div>
	<button type="button" class="layui-btn" id="upload">
	  <i class="layui-icon">&#xe67c;</i>上传图片
	</button>
</script>
<script type="text/html" id="file">
	<div class="layui-input-inline">
		<input type="text" name="content" placeholder="请上传文件" value="" class="layui-input">
	</div>
	<button type="button" class="layui-btn" id="upload">
	  <i class="layui-icon">&#xe67c;</i>上传文件
	</button>
</script>
<script type="text/html" id="time">
	<div class="layui-input-block">
		<input type="text" name="content" class="layui-input" id="timer" placeholder="HH:mm:ss">
	</div>
</script>
<script type="text/html" id="editor">
	<div class="layui-input-block">
		<textarea id="ueditor" name="content"></textarea>
	</div>
	<script>
		//编辑器
		if(ue){
			UE.getEditor('ueditor').destroy(); //ueditor对象存在将无法再次初始化，销毁ueditor
		}
		var ue = UE.getEditor('ueditor',{
			maximumWords:666,
			toolbars: [
				['source', 'undo', 'redo'],
				['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
			],
		});
	</script>
</script>


<script>
!function(){
	var layer = layui.layer,form = layui.form;
	var table = layui.table;
	var $ = layui.jquery;
	var upload = layui.upload;
	var laydate = layui.laydate;
    var content = '';
    // select下拉框选中触发事件
    form.on("select(select)", function(data){
       //layer.msg(data.value); // 获取选中的值
	   var content = $('#form .content-container input[name=content]').val();//默认值
	   $('#form .content-container').html($('#' + data.value).html());
	   switch(data.value){
			case 'checkbox':
				var value = $('#form .value textarea').val();
				value = value.split(/,|\r|\n/);
				for(var i=0; i<value.length; i++){
					if(content){
						var con = content.split(/,|\r|\n/);
						var checked='';
						for(var j=0; j<con.length; j++){
							checked = value[i]==con[j]?'checked':checked;
						}					
					}
					$('#form .content-container .checkbox').append('<input type="checkbox" name="content[]" '+checked+' value="'+ value[i] +'" title="'+value[i]+'">');
					}
				$('#form .value').show();
				break;
			case 'select':
				var value = $('#form .value textarea').val();
				value = value.split(/,|\r|\n/);
				for(var i=0; i<value.length; i++){
					var selected = value[i]==content?'selected':'';
					$('#form .content-container .select').append('<option '+selected+' value="'+ value[i] +'" title="'+value[i]+'">'+value[i]+'</option>');
				}

				$('#form .value').show();
				break;
			case 'radio':
				var value = $('#form .value textarea').val();
				value = value.split(/,|\r|\n/);
				for(var i=0; i<value.length; i++){
					var checked = value[i]==content?'checked':'';
					$('#form .content-container .radio').append('<input type="radio" name="content" '+checked+' value="'+ value[i] +'" title="'+value[i]+'">');
				}
				$('#form .value').show();
				break;
			default:
			$('#form .value').hide();
			$('#form .content-container input[name=content]').val(content);//还原内容	   
			$('#form .content-container textarea[name=content]').val(content);//还原内容	   
	   }
	   //初始化其它实例
		switch(data.value){
			case 'pic':
				//执行实例
				var uploadInst = upload.render({
					elem: '#upload',
					url: '{url:/upload/uploadFile}',
					done: function(res){
						//上传完毕回调
						$('#form input[name="content"]').val(res.data.path);
						layer.msg('上传成功')
					}
				})
				break;
			case 'file':
				//执行实例
				var uploadInst = upload.render({
					elem: '#upload',
					accept:'file',
					url: '{url:/upload/uploadFile}',
					done: function(res){
						//上传完毕回调
						$('#form input[name="content"]').val(res.data.path);
						layer.msg('上传成功')
					}
				})
				break;
			case 'time':
				laydate.render({
					elem: '#timer'
					,type: 'datetime'
				});
				break;
			default:
	   
	   }
		form.render();
		//绑定变化事件
		$('#form .value textarea').change(function(){
			$('.layui-form-select dl dd.layui-this').trigger('click');//触发单击事件
		})
    });

	
	
	table.render({
		elem: '#test',url:'{url:/label/getList}',
		toolbar: '#toolbarDemo',
		title: '提示',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{type: 'checkbox', fixed: 'left'},
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'名称', width:120},
			{field:'lebel_name', title:'调用标签', width:280, templet: function(res){
				return '{label'+':'+ res.name +'  value=字段名}'
			}},
			{field:'description', title:'描述', templet: function(res){
				return  res.description 
			}},
			{field:'content', title:'内容',hide:true},
			{field:'typetext', title:'类型', width:100, sort: true,templet: function(res){
				var typetext;
				switch(res.type) {
					case 'input':
						typetext = "单行文本";
					break;
					case 'time':
						typetext = "时间";
					break;
					case 'pic':
						typetext = "图片";
					break;
					case 'file':
						typetext = "附件";
					break;
					case 'editor':
						typetext = "编辑器";
					break;
					case 'textarea':
						typetext = "多行文本";
					break;
					case 'radio':
						typetext = "单选按钮";
					break;
					case 'checkbox':
						typetext = "多选按钮";
					break;
					case 'select':
						typetext = "下拉选择";
					break;
					default:
						typetext = "错误类型";
				}
				return typetext;
			}},
			{field:'type', title:'类型', width:80, sort: true, hide:true},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:105}
		]],
		page: true
	});



	//监听行工具事件
	table.on('tool(test)', function(obj){
	var data = obj.data;
	//console.log(obj)
	if(obj.event === 'del'){
		layer.confirm('真的删除行么', function(index){
			$.post('{url:/label/del}',{id:obj.data.id},function(data){
				if(data.code == 1){
					layer.msg(data.msg)
					obj.del();
				}
				else{
					layer.msg(data.msg)
				}
			}, 'json');
			layer.close(index);
		});
	} else if(obj.event === 'edit'){
		layer.open({
			type: 1,
			skin: 'layui-layer-rim',
			area: ['450px', '398px'],
			title :'添加标签',
			btn: ['提交', '取消'],
			maxmin:true,
			yes: function(index, layero){
				form.on('submit(form)', function(data){
				$.post('{url:/label/edit}',$("#form").serialize(),function(data){
					if(data.code == 1){
						layer.msg(data.msg);
						setTimeout(function (){
							window.location.reload();
						}, 1000);
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
				});
			},
		btn2: function(index, layero){
			layer.close(index);
		},
		content: $('#gd-form').html(),
		success: function (layero) {
			$(':focus').blur();
			// 添加form标识
			layero.addClass('layui-form');
			// 将保存按钮改变成提交按钮
			layero.find('.layui-layer-btn0').attr({
				'lay-filter': 'form',
				'lay-submit': ''
			});
			form.render();
		},
		});
		loadData(obj.data, '#form');
		form.render();
		$('.layui-form-select dl dd.layui-this').trigger('click');//触发单击事件
		
	}
});

$('#btn-add').click(function(){
	layer.open({
		type: 1,
		skin: 'layui-layer-rim',
		area: ['450px', '398px'],
		title :'添加标签',
		btn: ['添加', '取消'],
		maxmin:true,
		yes: function(index, layero){
			form.on('submit(form)', function(data){
			$.post('{url:/label/edit}',$("#form").serialize(),function(data){
				if(data.code == 1){
					layer.msg(data.msg);
					setTimeout(function (){
						window.location.reload();
					}, 1000);
				}
				else{
					layer.msg(data.msg)
				}
			}, 'json');
			});
		},
		btn2: function(index, layero){
			layer.close(index);
		},
		content: $('#gd-form').html(),
		success: function (layero) {
			$(':focus').blur();
			// 添加form标识
			layero.addClass('layui-form');
			// 将保存按钮改变成提交按钮
			layero.find('.layui-layer-btn0').attr({
				'lay-filter': 'form',
				'lay-submit': ''
			});
			form.render();
		},
	});
	form.render();
})
}();


</script>
</body>
</html>