<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.title}-{$GLOBALS.version}-{$GLOBALS.subtitle}</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="guodong-body">
<style>
.layui-upload-list dl {
    width: 92px;
    height: 92px;
    margin: 0 10px 10px 0;
	position:relative;
}
.layui-upload-list dl  img{
    width: 92px;
    height: 92px;
}
.layui-upload-list dl dd{
    position:absolute;
	top:0;
	right:0;
	font-size:14px;
	color:#f00;
	cursor:pointer;
}
</style>
{include:head.html}
<div class="layui-fluid">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
			<ul class="layui-tab-title">
				<li class="layui-this" lay-id="t1"><a href = "{url:/link/index}">友情链接列表</a></li>
				<li lay-id="t2"><a href = "{url:/linkgroup/}">分组管理</a></li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
						<table class="layui-hide" id="table" lay-filter="test"></table>
						<script type="text/html" id="toolbarDemo">
							<div class="layui-btn-container">
								<button class="layui-btn layui-btn-sm" lay-event="add">新建链接</button>
							</div>
						</script>
						<script type="text/html" id="barDemo">
							<div class="layui-btn-group">
								<button type="button" class="layui-btn layui-btn-sm" title="编辑" lay-event="edit"><i class="layui-icon"></i></button>
								<button type="button" class="layui-btn layui-btn-sm" title="删除" lay-event="del"><i class="layui-icon"></i></button>
							</div>
						</script>


				</div>
				<script type="text/html" id="gd-form">
					 <form action="" method="post" id="form" class="layui-form">
						<input type="hidden" name="id" value=""> 
						<div class="layui-form-item">
							 <label class="layui-form-label">分组*</label>
							<div class="layui-input-inline">
								<select name="group_id" lay-verify="required">
									<option value="">选择分组</option>
									{foreach:items = $groupList key=$k item=$v}
									<option value="{$v['id']}">{$v['name']}</option>
									{/foreach}
								</select>
							</div>
						</div>
						
						 <div class="layui-form-item">
							 <label class="layui-form-label">名称*</label>
							 <div class="layui-input-inline">
								<input type="text" name="name" lay-verify="required" placeholder="请输入名称" class="layui-input">
							 </div>
						</div>
						
						<div class="layui-form-item">
							 <label class="layui-form-label">链接*</label>
							 <div class="layui-input-inline">
								<input type="text" name="link" lay-verify="required|url" placeholder="请输入链接" class="layui-input">
							 </div>
						</div>
						
						<div class="layui-form-item">
							<label class="layui-form-label">图片</label>
							<div class="layui-input-inline">
								<input type="text" name="logo" id="logo" placeholder="请上传图片" value="" class="layui-input">
							</div>
							<button type="button" class="layui-btn" id="upload">
							  <i class="layui-icon">&#xe67c;</i>上传图片
							</button><!-- 
 							<div class="preview">
								<blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
									预览图：
									<div class="layui-upload-list preview">
										<dl>
											<dt>
												<img src="">
											</dt>
											<dd><i class="fa fa-times" aria-hidden="true"></i></dd>
										</dl>
									</div>
								</blockquote>
							</div> -->
						</div>
						
						<div class="layui-form-item">
							 <label class="layui-form-label">排序</label>
							 <div class="layui-input-inline">
								<input type="text" name="sorting" lay-verify="required|number" value="255" placeholder="请输入排序" class="layui-input">
							 </div>
						</div>
					 </form>
				</script>
				</div>
			</div>
	 
	
	</div>

</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/loadData.js"></script>
<script>
!function(){
	var layer = layui.layer,form = layui.form;
	var table = layui.table;
	var $ = layui.jquery;
	var upload = layui.upload;

	table.render({
		elem: '#table',url:'{url:/link/getList}',
		toolbar: '#toolbarDemo',
		title: '管理员列表',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'名称', width:180},
			{field:'group_id', title:'分组', width:120, hide:true},
			{field:'group_name', title:'分组', width:120},
			{field:'link', title:'链接'},
			{field:'logo', title:'Logo', width:120, event: 'preview', templet: function(res){
				if(res.logo != ""){
					return '<img style="height:100%" src="'+ res.logo +'">'
				}else{
					return "无";
				}
				
			}},
			{field:'status', title:'状态', width:90, event: 'switch',templet: function(res){
				if(res.status == 1){
					return '<input type="checkbox" name="status" checked lay-skin="switch" lay-text="ON|OFF">';
				}else{
					return '<input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">';
				}
			}},
			{field:'sorting', title:'排序', width:80, edit: 'text'},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:105}
		]],
		page: true
	});
	//监听单元格编辑
	table.on('edit(test)', function(obj){
		var value = obj.value, //得到修改后的值
		data = obj.data, //得到所在行所有键值
		field = obj.field; //得到字段
		$.post('{url:/link/changeValue}',{id:data.id,value:value,field:field},function(data){
			if(data.code == 1){
				layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
	});
	//监听行工具事件
	table.on('tool(test)', function(obj){
	var data = obj.data;
	//console.log(obj)
	if(obj.event === 'del'){
		layer.confirm('真的删除行么', function(index){
			$.post('{url:/link/del}',{id:obj.data.id},function(data){
				if(data.code == 1){
					layer.msg(data.msg)
					obj.del();
				}
				else{
					layer.msg(data.msg)
				}
			}, 'json');
			layer.close(index);
		});
	}else if(obj.event === 'edit'){
		layer.open({
			type: 1,
			skin: 'layui-layer-rim',
			area: ['460px', '410px'],
			title :'添加标签',
			btn: ['提交', '取消'],
			yes: function(index, layero){
				form.on('submit(form)', function(data){
				$.post('{url:/link/edit}',$("#form").serialize(),function(data){
					if(data.code == 1){
						layer.msg(data.msg);
						setTimeout(function (){
							window.location.reload();
						}, 1000);
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
			});
		},
		btn2: function(index, layero){
			layer.close(index);
		},
		content: $('#gd-form').html(),
		success: function (layero) {
			$(':focus').blur();
			// 添加form标识
			layero.addClass('layui-form');
			// 将保存按钮改变成提交按钮
			layero.find('.layui-layer-btn0').attr({
				'lay-filter': 'form',
				'lay-submit': ''
			});
			form.render();
		},
		});
		//执行实例
		var uploadInst = upload.render({
			elem: '#upload',
			url: '{url:/upload/uploadFile}',
			before: function(obj){
			  //预读本地文件示例，不支持ie8
			  obj.preview(function(index, file, result){
				$('.preview img').attr('src', result); //图片链接（base64）
			  });
			},
			done: function(res){
				//上传完毕回调
				$('#form input[name="logo"]').val(res.data.path);
				layer.msg('上传成功')
			},
			error: function(){
				//请求异常回调
			}
		})

		loadData(obj.data, '#form');
		form.render();
		
	}else if(obj.event === 'switch'){
		var switchName = $(this).find('input[type="checkbox"]').attr("name");
		var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
		switchValue = Number(switchValue);
		$.post('{url:/link/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue},function(data){
			if(data.code == 1){
				layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
		form.render();
	}else if(obj.event === 'preview'){
		layer.open({
			type: 1, 
			title: false,
			content: '<img width="100%" src="'+ obj.data.logo+'" />',
			success: function(layero, index) {
				
			}
		});
		form.render();
	}
});
	//头工具栏事件
	table.on('toolbar(test)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		switch(obj.event){
			case 'add':
				layer.open({
					type: 1,
					skin: 'layui-layer-rim',
					area: ['460px', '410px'],
					title :'添加标签',
					btn: ['提交', '取消'],
					yes: function(index, layero){
						form.on('submit(form)', function(data){
						$.post('{url:/link/edit}',$("#form").serialize(),function(data){
							if(data.code == 1){
								layer.msg(data.msg);
								setTimeout(function (){
									window.location.reload();
								}, 1000);
							}
							else{
								layer.msg(data.msg)
							}
						}, 'json');
						});
					},
					btn2: function(index, layero){
						layer.close(index);
					},
					content: $('#gd-form').html(),
					success: function (layero) {
						$(':focus').blur();
						// 添加form标识
						layero.addClass('layui-form');
						// 将保存按钮改变成提交按钮
						layero.find('.layui-layer-btn0').attr({
							'lay-filter': 'form',
							'lay-submit': ''
						});
						form.render();
					},
				});
				
		//执行实例
		var uploadInst = upload.render({
			elem: '#upload',
			url: '{url:/upload/uploadFile}',
			before: function(obj){
			  //预读本地文件示例，不支持ie8
			  obj.preview(function(index, file, result){
				$('.preview img').attr('src', result); //图片链接（base64）
			  });
			},
			done: function(res){
				//上传完毕回调
				$('#form input[name="logo"]').val(res.data.path);
				layer.msg('上传成功')
			},
			error: function(){
				//请求异常回调
			}
		})
			break;

		};
		form.render();
	});


}();
</script>
</body>
</html>