<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>国栋CMS</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<style>
.layui-upload-list dl {
    width: 92px;
    height: 92px;
    margin: 0 10px 10px 0;
	position:relative;
}
.layui-upload-list dl  img{
    width: 92px;
    height: 92px;
}
.layui-upload-list dl dd{
    position:absolute;
	top:0;
	right:0;
	font-size:14px;
	color:#f00;
	cursor:pointer;
}
</style>
<div class="gd-body">
		<div class="layui-tab layui-tab-brief" lay-filter="tab">
			<ul class="layui-tab-title">
				<li lay-id="t1"><a href = "{url:/link/index}">友情链接列表</a></li>
				<li  class="layui-this" lay-id="t2"><a href = "{url:/linkgroup/}">分组管理</a></li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
						<table class="layui-hide" id="table" lay-filter="test"></table>
						<script type="text/html" id="toolbarDemo">
							<div class="layui-btn-container">
								<button class="layui-btn layui-btn-sm" lay-event="add">新建分组</button>
							</div>
						</script>
						<script type="text/html" id="barDemo">
							<a class="layui-btn layui-btn-xs" {data-id} lay-event="edit">编辑</a>
							<a class="layui-btn layui-btn-danger {data-id} layui-btn-xs" lay-event="del">删除</a>
						</script>


				</div>
				<script type="text/html" id="gd-form">
					 <form action="" method="post" id="form" class="layui-form">
						<input type="hidden" name="id" value=""> 
						<div class="layui-form-item">
							 <label class="layui-form-label">区域</label>
							 <div class="layui-input-inline">
								<select name="area_id" lay-verify="required">
									<option value="">选择区域</option>
									{foreach:items = $areaList key=$k item=$v}
									<option value="{$v['id']}">{$v['name']}</option>
									{/foreach}
								</select>
							 </div>
						</div>
						 <div class="layui-form-item">
							 <label class="layui-form-label">名称</label>
							 <div class="layui-input-inline">
								<input type="text" name="name" required="" lay-verify="required" placeholder="请输入名称" class="layui-input">
							 </div>
						</div>

						<div class="layui-form-item">
							 <label class="layui-form-label">排序</label>
							 <div class="layui-input-inline">
								<input type="text" name="sorting" required="" lay-verify="required" value="255" placeholder="请输入排序" class="layui-input">
							 </div>
						</div>
					 </form>
				</script>
				</div>
			</div>
	 
	
	</div>

</div>
<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/admin.js"></script>
<script>
!function(){
	var layer = layui.layer,form = layui.form;
	var table = layui.table;
	var $ = layui.jquery;
	var upload = layui.upload;

	table.render({
		elem: '#table',url:'{url:/linkgroup/getList}',
		toolbar: '#toolbarDemo',
		title: '管理员列表',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'名称'},
			{field:'status', title:'状态', width:90, event: 'switch',templet: function(res){
				if(res.status == 1){
					return '<input type="checkbox" name="status" checked lay-skin="switch" lay-text="ON|OFF">';
				}else{
					return '<input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">';
				}
			}},
			{field:'area_id', title:'区域', width:120,hide:true},
			{field:'area_name', title:'区域', width:120},
			{field:'sorting', title:'排序', width:120},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
		]],
		page: true
	});

	//监听行工具事件
	table.on('tool(test)', function(obj){
	var data = obj.data;
	//console.log(obj)
	if(obj.event === 'del'){
		layer.confirm('真的删除行么', function(index){
			$.post('{url:/linkgroup/del}',{id:obj.data.id},function(data){
				if(data.code == 1){
					layer.alert(data.msg)
					obj.del();
				}
				else{
					layer.alert(data.msg)
				}
			}, 'json');
			layer.close(index);
		});
	}else if(obj.event === 'edit'){
		layer.open({
			type: 1,
			skin: 'layui-layer-rim',
			area: ['340px', '250px'],
			title :'添加标签',
			btn: ['提交', '取消'],
			btn1: function(index, layero){
				$.post('{url:/linkgroup/edit}',$("#form").serialize(),function(data){
					if(data.code == 1){
						layer.alert(data.msg);
						setTimeout(function (){
							window.location.reload();
						}, 1000);
					}
					else{
						layer.alert(data.msg)
					}
				}, 'json');
		},
		btn2: function(index, layero){
			layer.close(index);
		},
			content: $('#gd-form').html()
		});

		loadData(obj.data, '#form');
		form.render();
		
	}else if(obj.event === 'switch'){
		var switchName = $(this).find('input[type="checkbox"]').attr("name");
		var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
		switchValue = Number(switchValue);
		$.post('{url:/linkgroup/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue},function(data){
			if(data.code == 1){
				layer.alert(data.msg)
			}
			else{
				layer.alert(data.msg)
			}
		}, 'json');
		form.render();
	}
});
	//头工具栏事件
	table.on('toolbar(test)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		switch(obj.event){
			case 'add':
				layer.open({
					type: 1,
					skin: 'layui-layer-rim',
					area: ['340px', '250px'],
					title :'添加标签',
					btn: ['提交', '取消'],
					btn1: function(index, layero){
						$.post('{url:/linkgroup/edit}',$("#form").serialize(),function(data){
							if(data.code == 1){
								layer.alert(data.msg);
								setTimeout(function (){
									window.location.reload();
								}, 1000);
							}
							else{
								layer.alert(data.msg)
							}
						}, 'json');
					},
					btn2: function(index, layero){
						layer.close(index);
					},
					content: $('#gd-form').html()
				});
				

			break;

		};
		form.render();
	});


}();
</script>
</body>
</html>