<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>国栋CMS</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid animated bounceInLeft">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
		<ul class="layui-tab-title">
			<li class="layui-this" lay-id="t1">菜单列表</li>
			<li lay-id="t2" class="">新建/编辑菜单</li>
		</ul>
	  <div class="layui-tab-content">
		<div class="layui-tab-item layui-show">
			<table class="layui-hide " id="table" lay-filter="test"></table>
			<script type="text/html" id="toolbarDemo">
				<div class="layui-btn-container">
					<button class="layui-btn layui-btn-sm" lay-event="add">新建菜单</button>
				</div>
			</script>
			<script type="text/html" id="barDemo">
					<div class="layui-btn-group">
						<button type="button" class="layui-btn layui-btn-sm" title="编辑" lay-event="edit"><i class="layui-icon"></i></button>
						<button type="button" class="layui-btn layui-btn-sm" title="删除" lay-event="del"><i class="layui-icon"></i></button>
					</div>
			</script>	
		</div>
          
        <div class="layui-tab-item">
            <form action="{url:/menu/edit}" method="post" class="layui-form" id="form">
                <input type="hidden" name="id" value=""> 
                <div class="layui-form-item">
				    <label class="layui-form-label">父菜单</label>
				    <div class="layui-input-inline">
					<select name="pid" lay-verify="required">
						<option value="0">顶级菜单 </option>
						{foreach:items = $menuList key=$k item=$v}
						<option value="{$v['id']}">{$v['name']}</option>
						{/foreach}
					</select>
					</div>
				</div>
				 <div class="layui-form-item">
                     <label class="layui-form-label">菜单名称</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="name"  lay-verify="required" placeholder="菜单名" class="layui-input">
                     </div>
					 <div class="layui-form-mid layui-word-aux">*</div>
                </div>

				 <div class="layui-form-item">
                     <label class="layui-form-label">控制器</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="controller" placeholder="CONTROLLER" class="layui-input">
                     </div>
					  <div class="layui-form-mid layui-word-aux">外部URL可不填</div>
                </div>
				 <div class="layui-form-item">
                     <label class="layui-form-label">方法</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="action" placeholder="ACTION" class="layui-input">
                     </div>
					 <div class="layui-form-mid layui-word-aux">外部URL可不填</div>
                </div>
				 <div class="layui-form-item">
                     <label class="layui-form-label">参数</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="params" placeholder="PARAMS" class="layui-input">
                     </div>
                </div>
				 <div class="layui-form-item">
                     <label class="layui-form-label">URL</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="url" lay-verify="required" placeholder="URL" class="layui-input">
                     </div>
					 <div class="layui-form-mid layui-word-aux">/CONTROLLER/ACTION/PARAMS</div>
                </div>
                
				<div class="layui-form-item">
                     <label class="layui-form-label">排序</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="sorting" placeholder="菜单排序" value="255" class="layui-input">
                     </div>
					 <div class="layui-form-mid layui-word-aux">越大越靠前</div>
                </div> 
                
                 <div class="layui-form-item">
                     <label class="layui-form-label">状态</label>
                     <div class="layui-input-block">
                     	<input type="radio" name="status" value="1" title="显示" checked="">
						<input type="radio" name="status" value="0" title="隐藏">
                     </div>
                </div>                               
                
 				<div class="layui-form-item">
                     <label class="layui-form-label">图标</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="icon" placeholder="图标:fa-sliders" class="layui-input">
                     </div>
					 <div class="layui-form-mid layui-word-aux"><a target="_blank" href="http://font-awesome.guodong.tech/">图标列表</a></div>
                </div>  
                
                <div class="layui-form-item">
                     <label class="layui-form-label">授权角色</label>
					<div class="layui-input-block">
					
						{foreach:items = $roleList key=$k item=$v}
						<input type="checkbox" name="roles_id[]" value="{$v['id']}" title="{$v['name']}">
						{/foreach}
					</div>
                </div>                 
                
               <div class="layui-form-item">
					<div class="layui-input-block">
					   <button class="layui-btn" lay-submit="">立即提交</button>
					   <button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
            </form>
        </div>
      </div>
     </div>
	 

	 
    
</div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/loadData.js"></script>
<script>
layui.config({
	base: '/static/layui/'
}).extend({
	treetable: 'treetable-lay/treetable'
}).use(['layer', 'table', 'treetable', 'form', 'jquery', 'element'], function(){
var layer = layui.layer,
form = layui.form;
var table = layui.table;
var element = layui.element;
var $ = layui.jquery;
var treetable = layui.treetable;
treetable.render({
	treeColIndex: 1,//树形图标显示在第几列
	treeSpid: 0,//最上级的父级id
	treeIdName: 'id',//id字段的名称
	treePidName: 'pid',//pid字段的名称
	treeDefaultClose: true,//是否默认折叠
	treeLinkage: true,//父级展开时是否自动展开所有子级
	elem: '#table',
	url:'{url:/menu/getList}',
	toolbar: '#toolbarDemo',
	title: '菜单列表',
	layEvent: 'LAYTABLE_TIPS',
	icon: 'layui-icon-tips',
	cols: [[
		{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
		{field:'name', title:'菜单名称', width:180},
		{field:'controller', title:'控制器', width:120},
		{field:'action', title:'方法', width:120},
		{field:'params', title:'参数', width:120},
		{field:'icon', title:'图标',width:120,hide:true},
		{field:'roles_id', title:'角色ID', hide:true},
		{field:'pid', title:'父类ID', hide:true},
		{field:'url', title:'URL'},
		{field:'roles_text', title:'授权角色',hide:true,templet:function(res){
			var roles='<div class="layui-input-line">';
			{foreach:items = $roleList key=$k item=$v}
				 roles = roles + "<input  type='checkbox' title={$v['name']} value={$v['id']} checked>";
			{/foreach}
			roles == roles + '</div>';				
			return roles;
		}},
		{field:'status', title:'状态', width:90, event: 'switch',templet: function(res){
			if(res.status == 1){
				return '<input type="checkbox" name="status" checked lay-skin="switch" lay-text="ON|OFF">';
			}else{
				return '<input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">';
			}
			
		}},
		{field:'sorting', title:'排序', width:80, edit: 'text'},
		{fixed: 'right', title:'操作', toolbar: '#barDemo', width:105}
	]],
	done: function(res, curr, count){
	},
	page: true
});

	//监听行工具事件
table.on('tool(test)', function(obj){
	var data = obj.data;
	if(obj.event === 'del'){
		layer.confirm('真的删除行么', function(index){
			$.post('{url:/menu/del}',{id:obj.data.id},function(data){
				if(data.code == 1){
					layer.msg(data.msg)
					obj.del();
				}
				else{
					layer.msg(data.msg)
				}
			}, 'json');
		});
	}else if(obj.event === 'edit'){
			$('#form')[0].reset(); //重置表单
			loadData(obj.data, '#form')
			form.render();
			element.tabChange('tab', 't2');
		
	}else if(obj.event === 'switch'){
		var switchName = $(this).find('input[type="checkbox"]').attr("name");
		var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
		switchValue = Number(switchValue);
		$.post('{url:/menu/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue},function(data){
			if(data.code == 1){
				//layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
		form.render();
	}
});

//头工具栏事件
table.on('toolbar(test)', function(obj){
	var checkStatus = table.checkStatus(obj.config.id);
	switch(obj.event){
		case 'add':
			element.tabChange('tab', 't2');
			$('#form')[0].reset();
			$('#form input[name="id"]').val('');
		break;
	};
	form.render();
});


});
</script>
</body>
</html>