<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.title}-{$GLOBALS.version}-{$GLOBALS.subtitle}</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid animated {$GLOBALS.animate}">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	  <ul class="layui-tab-title">
	  	{foreach:items=$forms key=$k item=$v}
	    <li {if:$v["id"] == $form_id}class="layui-this"{/if} form-id="{$v['id']}"><a href = "{url:/message/index/}{$v['id']}">{$v['name']}</a></li>
	    {/foreach}
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
	  	   			<table class="layui-hide" id="table" lay-filter="test"></table>
	  	   			<script type="text/html" id="barDemo">
						<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					</script>
	  	 </div>
	</div>
		
	 
	
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script>
!function(){
  var layer = layui.layer,form = layui.form;
  var table = layui.table;
  var $ = layui.jquery;
  //layer.msg('Hello World');
  table.render({
		elem: '#table',url:'{url:/Message/getList/}{$table_name}',
		// toolbar: '#toolbarDemo',
		title: '字段列表',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
		{foreach:items=$fields key=$k item=$v}
			{field:'{$k}', title:'{$v}', width:160, fixed: 'left', unresize: true, sort: true},
		{/foreach}
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}
		]],
		// page: true
	});
}();
</script>
</body>
</html>