<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>国栋CMS</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	  <ul class="layui-tab-title">
	  	{foreach:items=$forms key=$k item=$v}
	    <a href = "{url:/message/index/}{$v['table_name']}"><li {if:$v["table_name"] == $table_name}class="layui-this"{/if}>{$v['name']}</li></a>
	    {/foreach}
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
	  	   			<table class="layui-hide" id="table" lay-filter="test"></table>
	  	   			<script type="text/html" id="barDemo">
						<a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
						{if: $issystem == 1}
						<a class="layui-btn layui-btn-xs" lay-event="reply">回复</a>
						{/if}
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					</script>
	  	 </div>
	</div>
		
	 
	
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script>
layui.config({
	base: '/static/layui/'
}).extend({
	treetable: 'treetable-lay/treetable'
}).use(['layer', 'table', 'form', 'jquery', 'element'], function(){
  var layer = layui.layer,form = layui.form;
  var table = layui.table;
  var $ = layui.jquery;
  //layer.msg('Hello World');
  table.render({
		elem: '#table',url:'{url:/Message/getList/}{$table_name}',
		// toolbar: '#toolbarDemo',
		title: '信息列表',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
		{foreach:items=$fields key=$k item=$v}
			{if: $k !== 'status'}
				{field:'{$k}', title:'{$v}', unresize: false, sort: true},
			{else:}
				{field:'{$k}', title:'{$v}', event: 'switch',templet: function(res){
					if(res.status == 1){
						return '<input type="checkbox" name="status" checked lay-skin="switch" lay-text="ON|OFF">';
					}else{
						return '<input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">';
					}
				}},
			{/if}
			
		{/foreach}
			{fixed: 'right', title:'操作', toolbar: '#barDemo',unresize: true}
		]],
		page: true,
	});
  	//监听行工具事件
	table.on('tool(test)', function(obj){
	var data = obj.data;
	var table_name = '{$table_name}';
	//console.log(obj)
	if(obj.event === 'del'){
		layer.confirm('真的删除行么', function(index){
			$.post('{url:/message/del/}',{id:obj.data.id,table_name:table_name},function(data){
				if(data.code == 1){
					layer.msg(data.msg)
					obj.del();
				}
				else{
					layer.msg(data.msg)
				}
			}, 'json');
			layer.close(index);
		});
	}else if(obj.event === 'check'){

	}else if(obj.event === 'reply'){
		layer.prompt({
	        formType: 2,
	        title: '对 ID 为 ['+ data.id +'] 的信息回复',
	    }, function(value, index){
	    	$.post('{url:/message/reply/}',{pid:obj.data.id,table_name:table_name,content:value},function(data){
				if(data.code == 1){
					layer.msg(data.msg)
					// 插入一行
					var tabledata = table.cache['table'];
					tabledata.push(data.data)
					table.reload("table", {
						data: tabledata,
					})
				}
				else{
					layer.msg(data.msg)
				}
			}, 'json');

	        layer.close(index);
	    });
	}else if(obj.event === 'switch'){
		var switchName = $(this).find('input[type="checkbox"]').attr("name");
		var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
		switchValue = Number(switchValue);
		$.post('{url:/message/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue,table_name:table_name},function(data){
			if(data.code == 1){
				layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
		form.render();
	}
});
});
</script>
</body>
</html>