<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>国栋CMS</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="gd-body">
		<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">留言列表</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
	  	   			  	   		<table class="layui-table table-two">
	  	   			<thead>
				  		<tr>
					  		<th colspan="2">
					  			在线留言-1 
					  			<span style="float:right">
						  					                            <a href="/adminzt.php?p=/Message/mod/id/1/field/status/value/0"><i class="fa fa-toggle-on" title="点击前端隐藏" style="vertical-align:middle"></i></a>
		                            						  			<a href="/adminzt.php?p=/Message/mod/id/1&amp;backurl=L2FkbWluenQucGhwP3A9L01lc3NhZ2UvaW5kZXg=" class="layui-btn layui-btn-xs">回复</a>						  			<a href="/adminzt.php?p=/Message/del/id/1" onclick="return confirm(&quot;您确定要删除么？&quot;)" class="layui-btn layui-btn-xs layui-btn-danger" title="删除">删除</a> 
					  			</span>
					  		</th>
					  	</tr>
				    </thead>
	  	   			<tbody>
		  	   						  	   			<tr>
						      	<th>联系人</th>
						      							      	<td>星梦</td>
						    </tr>
		  	   						  	   			<tr>
						      	<th>手机</th>
						      							      	<td>16888888888</td>
						    </tr>
		  	   						  	   			<tr>
						      	<th>内容</th>
						      							      	<td>真心很不错哦！</td>
						    </tr>
		  	   					  	   			<tr>
					      	<th>时间</th>
					      	<td>2018-04-12 10:56:09</td>
					    </tr>
					    <tr>
					      	<th>访客信息</th>
					      	<td>
					      		IP:<a href="http://ip.taobao.com/ipSearch.html?ipAddr=127.0.0.1" target="_blank" title="点击查看归属地">127.0.0.1</a>；
								浏览器:Firefox；
								操作系统:Windows 10							</td>
					    </tr>
					    <tr>
					      	<th>回复内容</th>
					      	<td>谢谢您对我们的大力支持与肯定！</td>
					    </tr>
	  	   			</tbody>
	            </table>
	            	            
	            			     	<a href="/adminzt.php?p=/Message/clear" onclick="return confirm(&quot;您确定要清空么？&quot;)" class="layui-btn layui-btn-sm">清空记录</a>
			    			    
			    			    <a href="/adminzt.php?p=/Message/index/export/1" class="layui-btn layui-btn-sm">导出记录</a>
			    			    
	           <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-4"><a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a><span class="layui-laypage-curr"><em class="layui-laypage-em" style="background-color:#FF5722;"></em><em>1</em></span><a href="javascript:;" data-page="2">2</a><a href="javascript:;" data-page="3">3</a><a href="javascript:;" data-page="4">4</a><a href="javascript:;" data-page="5">5</a><span class="layui-laypage-spr">…</span><a href="javascript:;" class="layui-laypage-last" title="尾页" data-page="10">10</a><a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a></div>
			   </div>
	  	 </div>
	</div>
		
	 
	
</div>
<script src="/static/layui/layui.all.js"></script>
<script>
!function(){
  var layer = layui.layer
  ,form = layui.form;
  
  //layer.msg('Hello World');
}();
</script>
</body>
</html>