<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>国栋CMS</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">单篇列表</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
				<table class="layui-hide" id="table" lay-filter="test"></table>
				<script type="text/html" id="toolbarDemo">
					<div class="layui-btn-container">
						 
					</div>
				</script>
				<script type="text/html" id="barDemo">
					<a class="layui-btn layui-btn-xs" lay-event="browse">预览</a>
					<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
				</script>
	  	   </div>
	  </div>
	 </div>
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script>
!function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var $ = layui.jquery;
	table.render({
		elem: '#table',url:'{url:/single/getList/}{$model_id}',
		toolbar: '#toolbarDemo',
		title: '管理员列表',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'标题'},
			{field:'status', title:'状态', width:90, templet: function(res){
				if(res.status == 1){
					return '<input type="checkbox" name="switch"  checked lay-skin="switch" lay-text="ON|OFF">';
				}else{
					return '<input type="checkbox" name="switch" lay-skin="switch" lay-text="ON|OFF">';
				}
				
			}},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
		]],
		page: true
	});
	//监听行工具事件
	table.on('tool(test)', function(obj){
	var data = obj.data;
	//console.log(obj)
	if(obj.event === 'browse'){
		window.location.href='{$model_id}/'+obj.data.id;
	}else if(obj.event === 'edit'){
		window.location.href='{url:/single/single_edit/}'+obj.data.id;
	}
});


}();
</script>
</body>
</html>