<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>国栋CMS</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<style>
.layui-upload-list dl {
    width: 92px;
    height: 92px;
    margin: 0 10px 10px 0;
	position:relative;
}
.layui-upload-list dl  img{
    width: 92px;
    height: 92px;
}
.layui-upload-list dl dd{
    position:absolute;
	top:0;
	right:0;
	font-size:14px;
	color:#f00;
	cursor:pointer;
}
</style>
<div class="gd-body">
		<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
			<li class="layui-this" lay-id="t1">幻灯片列表</li>
			<li lay-id="t2"><a href = "{url:/slidegroup/}">幻灯片分组</a></li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
				<table class="layui-hide" id="table" lay-filter="test"></table>
				<script type="text/html" id="toolbarDemo">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="add">新建幻灯片</button>
					</div>
				</script>
				<script type="text/html" id="barDemo">
					<a class="layui-btn layui-btn-xs" {data-id} lay-event="edit">编辑</a>
					<a class="layui-btn layui-btn-danger {data-id} layui-btn-xs" lay-event="del">删除</a>
				</script>
		</div>
	  	
	  	   	<script type="text/html" id="gd-form">
				<form action="" method="post" id="form" class="layui-form">
	  			<input type="hidden" name="id" value=""> 
	  			<div class="layui-form-item">
                     <label class="layui-form-label">分组</label>
                     <div class="layui-input-inline">
                     	<select name="group_id">	
							{foreach:items = $groupList key=$k item=$v}
							<option value="{$v['id']}">{$v['name']}</option>
							{/foreach}
	                	</select>
					</div>
                </div>
                 <div class="layui-form-item">
                     <label class="layui-form-label">标题</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="name" placeholder="请输入标题" class="layui-input">
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">描述</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="description" placeholder="请输入副标题" class="layui-input">
                     </div>
                </div>
                <div class="layui-form-item">
                     <label class="layui-form-label">背景色</label>
                     <div class="layui-input-inline">
                     	<input type="text"  name="bgcolor" id="bgcolor-input" placeholder="背景色" class="layui-input">
                     </div>
					 <span id="bgcolor"></span>
                </div>

                
                <div class="layui-form-item">
					<label class="layui-form-label">背景图片</label>
					<div class="layui-input-inline">
						<input type="text" name="bgpic" required="" lay-verify="required" placeholder="上传图片" class="layui-input">
					</div>
					<button type="button" class="layui-btn" id="uploadbgpic">
					  <i class="layui-icon">&#xe67c;</i>上传图片
					</button>
                </div>
                <div class="layui-form-item">
					<label class="layui-form-label">图片</label>
					<div class="layui-input-inline">
						<input type="text" name="pic" required="" lay-verify="required" placeholder="上传图片" class="layui-input">
					</div>
					<button type="button" class="layui-btn" id="upload">
					  <i class="layui-icon">&#xe67c;</i>上传图片
					</button>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">链接</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="link" placeholder="跳转链接" class="layui-input">
                     </div>
                </div>
                

                
                <div class="layui-form-item">
                     <label class="layui-form-label">排序</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="sorting" required="" lay-verify="required" value="255" placeholder="排序" class="layui-input">
                     </div>
                </div>
	  		</form>
	  	</script>
	  </div>
	</div>
	 
	
	 

</div>
<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/admin.js"></script>
<script>
!function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var upload = layui.upload;
	var $ = layui.jquery;
	var colorpicker = layui.colorpicker;

	table.render({
		elem: '#table',url:'{url:/slide/getList}',
		toolbar: '#toolbarDemo',
		title: '管理员列表',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'group_id', title:'分组ID', width:120},
			{field:'pic', title:'图片', width:120,event:'preview', templet: function(res){
				if(res.pic != ""){
					return '<img src="'+ res.pic +'">'
				}else{
					return "无";
				}
				
			}},
			{field:'link', title:'链接'},
			{field:'name', title:'标题', width:120},
			{field:'description', title:'描述'},
			{field:'sorting', title:'排序', width:120},
			{field:'bgpic', title:'bgpic',hide:true},
			{field:'bgcolor', title:'bgcolor', hide:true},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
		]],
		page: true
	});

	//监听行工具事件
	table.on('tool(test)', function(obj){
	var data = obj.data;
	if(obj.event === 'del'){
		layer.confirm('真的删除行么', function(index){
			$.post('{url:/slide/del}',{id:obj.data.id},function(data){
				if(data.code == 1){
					layer.alert(data.msg)
					obj.del();
				}
				else{
					layer.alert(data.msg)
				}
			}, 'json');
			layer.close(index);
		});
	}else if(obj.event === 'edit'){
		layer.open({
			type: 1,
			skin: 'layui-layer-rim',
			area: ['530px', '356px'],
			title :'添加标签',
			btn: ['提交', '取消'],
			btn1: function(index, layero){
				$.post('{url:/slide/edit}',$("#form").serialize(),function(data){
					if(data.code == 1){
						layer.msg(data.msg);
						setTimeout(function (){
							window.location.reload();
						}, 1000);
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
		},
		btn2: function(index, layero){
			layer.close(index);
		},
			content: $('#gd-form').html()
		});
		//执行实例
		var uploadInst = upload.render({
			elem: '#upload',
			url: '{url:/upload/uploadFile}',
			before: function(obj){
			  //预读本地文件示例，不支持ie8
			  obj.preview(function(index, file, result){
				$('.preview img').attr('src', result); //图片链接（base64）
			  });
			},
			done: function(res){
				//上传完毕回调
				$('#form input[name="pic"]').val(res.data.path);
			},
			error: function(){
				//请求异常回调
			}
		})
		//执行实例
		var uploadInst = upload.render({
			elem: '#uploadbgpic',
			url: '{url:/upload/uploadFile}',
			before: function(obj){
			  //预读本地文件示例，不支持ie8
			  obj.preview(function(index, file, result){
				$('.preview img').attr('src', result); //图片链接（base64）
			  });
			},
			done: function(res){
				//上传完毕回调
				$('#form input[name="bgpic"]').val(res.data.path);
			},
			error: function(){
				//请求异常回调
			}
		})
		loadData(obj.data, '#form');


		form.render();
		colorpicker.render({
			elem: '#bgcolor'
			,predefine: true // 开启预定义颜色
			,color: $('#form input[name="bgcolor"]').val()
			,alpha: true
			,format: 'rgb'
			,done: function(color){
			  $('#bgcolor-input').val(color);
			}
		});		
	}else if(obj.event === 'preview'){
		layer.open({
			type: 1, 
			title: false,
			content: '<img width="100%" src="'+ obj.data.pic+'" />',
			success: function(layero, index) {
				
			}
		});
		form.render();
	}
});

	//头工具栏事件
	table.on('toolbar(test)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		switch(obj.event){
			case 'add':
				layer.open({
					type: 1,
					skin: 'layui-layer-rim',
					area: ['530px', '356px'],
					title :'添加标签',
					btn: ['提交', '取消'],
					btn1: function(index, layero){
						$.post('{url:/slide/edit}',$("#form").serialize(),function(data){
							if(data.code == 1){
								layer.msg(data.msg);
								setTimeout(function (){
									window.location.reload();
								}, 1000);
							}
							else{
								layer.msg(data.msg)
							}
						}, 'json');
					},
					btn2: function(index, layero){
						layer.close(index);
					},
					content: $('#gd-form').html()
				});
				//执行实例
				var uploadInst = upload.render({
					elem: '#upload',
					url: '{url:/upload/uploadFile}',
					before: function(obj){
					  //预读本地文件示例，不支持ie8
					  obj.preview(function(index, file, result){
						$('.preview img').attr('src', result); //图片链接（base64）
					  });
					},
					done: function(res){
						//上传完毕回调
						$('#form input[name="pic"]').val(res.data.path);
					},
					error: function(){
						//请求异常回调
					}
				})
				//执行实例
				var uploadInst = upload.render({
					elem: '#uploadbgpic',
					url: '{url:/upload/uploadFile}',
					before: function(obj){
					  //预读本地文件示例，不支持ie8
					  obj.preview(function(index, file, result){
						$('.preview img').attr('src', result); //图片链接（base64）
					  });
					},
					done: function(res){
						//上传完毕回调
						$('#form input[name="bgpic"]').val(res.data.path);
					},
					error: function(){
						//请求异常回调
					}
				})
			break;

		};
		colorpicker.render({
			elem: '#bgcolor'
			,predefine: true // 开启预定义颜色
			,color: 'rgba(7, 155, 140, 1)'
			,alpha: true
			,format: 'rgb'
			,done: function(color){
			  $('#bgcolor-input').val(color);
			}
		});	
		form.render();
	});
}();
</script>
</body>
</html>