<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.systemname}-version{$GLOBALS.version}-{$GLOBALS.syscompany}</title>
<meta content='{$GLOBALS.sysdescription}' name='description'>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid animated {$GLOBALS.animate}">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">栏目列表</li>
	    <li lay-id="t2">添加/编辑栏目</li>
	    <li lay-id="t3">批量添加</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
				<table class="layui-hide" id="table" lay-filter="test"></table>
				<script type="text/html" id="toolbarDemo">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="add">新建栏目</button>
					</div>
				</script>
				<script type="text/html" id="barDemo">
					<div class="layui-btn-group">
						<button type="button" class="layui-btn layui-btn-sm" title="编辑" lay-event="edit"><i class="layui-icon"></i></button>
						<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" title="删除" lay-event="del"><i class="layui-icon"></i></button>
					</div>
				</script>
	  	    </div>
	  	    
	  	    <div class="layui-tab-item">
				<form action="{url:/sorts/edit/}" method="post" id="form" class="layui-form" lay-filter="sorts-form">
					<input type="hidden" name="id" value=""> 
		  	     	<div class="layui-tab">
					  <ul class="layui-tab-title">
					    <li class="layui-this">基础设置</li>
					    <li>图片及SEO设置</li>
					  </ul>
					  <div class="layui-tab-content">
					    <div class="layui-tab-item layui-show">
					    	<div class="layui-form-item">
			                     <label class="layui-form-label">父栏目</label>
			                     <div class="layui-input-inline">
			                     	<select name="pid">
									<option value="0">顶级栏目</option>
									{foreach:items = $list key=$k item=$v}
										{if:$v['pid']==0}
										<option value="{$v['id']}">{$v['name']}</option>
										{foreach:items = $list key=$k1 item=$v1}
											{if:$v['id'] == $v1['pid']}
											<option value="{$v1['id']}">&nbsp;&nbsp;&nbsp;&nbsp;{$v1['name']}</option>
											{/if}
										{/foreach}
										{/if}
									{/foreach}
									</select>
										
								</div>
			                </div>
<!-- 			                <div class="layui-form-item">
			                     <label class="layui-form-label">区域</label>
			                     <div class="layui-input-inline">
			                     	<select name="area_id">
									{foreach:items = $areaList key=$k item=$v}
										<option value="{$v['id']}">&nbsp;&nbsp;&nbsp;&nbsp;{$v['name']}</option>
									{/foreach}
									</select>
										
								</div>
			                </div> -->
			                <div class="layui-form-item">
			                     <label class="layui-form-label">栏目名称 <span class="layui-text-red">*</span></label>
			                     <div class="layui-input-inline">
			                     	<input type="text" name="name"  lay-verify="required" placeholder="栏目名称" class="layui-input">
			                     </div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">URL名称 </label>
			                     <div class="layui-input-inline">
			                     	<input type="text" name="urlname" lay-verify="required|en" placeholder="URL名称，如:news" class="layui-input">
									<div class="layui-form-mid layui-word-aux">用于前台URL识别，必须为英文</div>
			                     </div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">内容模型 <span class="layui-text-red">*</span></label>
			                     <div class="layui-input-inline">
			                     	<select name="model_id" lay-filter="model" lay-verify="required">
				                     	<option value="">请选择内容模型</option>
										{foreach:items = $modelList key=$k item=$v}
											<option value="{$v['id']}">{$v['name']}</option>
										{/foreach}
									</select>
							
							
								</div>
			                </div>
			                
			                 <div class="layui-form-item">
			                     <label class="layui-form-label">列表页模板</label>
			                     <div class="layui-input-inline">
				                     <select name="listtpl">
				                     	<option value="">无</option>
				                     	{foreach:items = $template_file key=$k item=$v}
				                     		<option value="{$v}">{$v}</option>
				                     	{/foreach}
								 </select>
										
								</div>
			                </div>
			                
			                 <div class="layui-form-item">
			                     <label class="layui-form-label">详情页模板</label>
			                     <div class="layui-input-inline">
				                     <select name="contenttpl">
				                     	<option value="">无</option>
										{foreach:items = $template_file key=$k item=$v}
				                     		<option value="{$v}">{$v}</option>
				                     	{/foreach}
									</select>
								
								</div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">状态</label>
			                     <div class="layui-input-inline">
			                     	<input type="radio" name="status" value="1" title="显示" checked="">
									<input type="radio" name="status" value="0" title="隐藏">
			                     </div>
			                </div>
			                
			                <div class="layui-form-item">
								 <label class="layui-form-label">内容</label>
								 <div class="layui-form-mid layui-word-aux">此处主要用于单页栏目展示信息。在对应标签和数组参数里均可调用</div>
			                </div>
			                <div class="layui-form-item">
			                     <label class="layui-form-label"></label>
			                     <div class="layui-input-block">
									<textarea id="container" name="content"></textarea>
								 </div>
			                </div>
					    </div>
					    <div class="layui-tab-item">
					    	<div class="layui-form-item">
			                     <label class="layui-form-label">副标题</label>
			                     <div class="layui-input-inline">
			                     	<input type="text" name="subname" placeholder="副标题" class="layui-input">
			                     </div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">跳转链接</label>
			                     <div class="layui-input-inline">
			                     	<input type="text" name="outlink" placeholder="跳转链接" class="layui-input">
			                     </div>
			                </div>
			                
			                 <div class="layui-form-item">
			                     <label class="layui-form-label">栏目缩略图</label>
			                     <div class="layui-input-inline">
			                     	<input type="text" name="ico" id="ico" placeholder="请上传栏目缩略图" class="layui-input">
			                     </div>
			                     <button type="button" class="layui-btn upload" id="icoup" data-des="ico">
								 	 <i class="layui-icon"></i>上传图片
								 </button>
								 <div id="ico_box" class="pic"></div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">栏目大图</label>
			                     <div class="layui-input-inline">
			                     	<input type="text" name="pic" id="pic" placeholder="上传栏目大图" class="layui-input">
			                     </div>
			                     <button type="button" class="layui-btn upload" id="picup" data-des="pic">
								 	 <i class="layui-icon"></i>上传图片
								 </button>
								 <div id="pic_box" class="pic"></div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">标题</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title" placeholder="栏目SEO标题" class="layui-input">
			                     </div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">关键词</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="keywords" placeholder="栏目SEO关键字" class="layui-input">
			                     </div>
			                </div>
			                
			                <div class="layui-form-item">
			                     <label class="layui-form-label">描述</label>
			                     <div class="layui-input-block">
			                     	<textarea name="description" placeholder="栏目SEO描述" class="layui-textarea"></textarea>
			                     </div>
			                </div>
					    </div>
					  </div>
					</div>
					<div class="layui-form-item">
						 <div class="layui-input-block">
						    <button class="layui-btn" lay-submit lay-filter="submit" >立即提交</button>
						    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						 </div>
					</div>
				</form>
	  	     </div>
	  	     
	  	     <!-- 批量新增 -->
	  	     <div class="layui-tab-item">
	  	     	<form action="{url:/sorts/edit/}" method="post" id="batchform" class="layui-form" lay-filter="batch-sorts">
					<div class="layui-form-item">
						 <label class="layui-form-label">父栏目</label>
						 <div class="layui-input-block">
							<select name="pid">
								<option value="0">顶级栏目</option>
								{foreach:items = $list key=$k item=$v}
									{if:$v['pid']==0}
									<option value="{$v['id']}">{$v['name']}</option>
									{foreach:items = $list key=$k1 item=$v1}
										{if:$v['id'] == $v1['pid']}
										<option value="{$v1['id']}">&nbsp;&nbsp;&nbsp;&nbsp;{$v1['name']}</option>
										{/if}
									{/foreach}
									{/if}
								{/foreach}
							</select>
						</div>
					</div>
<!-- 					<div class="layui-form-item">
						 <label class="layui-form-label">区域</label>
						 <div class="layui-input-inline">
							<select name="area_id">
							{foreach:items = $areaList key=$k item=$v}
								<option value="{$v['id']}">&nbsp;&nbsp;&nbsp;&nbsp;{$v['name']}</option>
							{/foreach}
							</select>
								
						</div>
					</div> -->
					<div class="layui-form-item">
						 <label class="layui-form-label">栏目名称</label>
						 <div class="layui-input-block">
							<input type="text" name="name"  lay-verify="required" placeholder="栏目名称，多个栏目用逗号隔开" class="layui-input">
						 </div>
					</div>
		                
					<div class="layui-form-item">
						 <label class="layui-form-label">内容模型</label>
						 <div class="layui-input-block">
							<select name="model_id" lay-filter="model" lay-verify="required">
								<option value="">请选择内容模型</option>
									{foreach:items = $modelList key=$k item=$v}
										<option value="{$v['id']}">{$v['name']}</option>
									{/foreach}
							</select>
						</div>
					</div>
		               
					 <div class="layui-form-item">
						 <label class="layui-form-label">列表页模板</label>
						 <div class="layui-input-block">
							 <select name="listtpl">
								<option value="">列表页模板</option>
									{foreach:items = $template_file key=$k item=$v}
										<option value="{$v}">{$v}</option>
									{/foreach}
							</select>
						</div>
					</div>
					
					 <div class="layui-form-item">
						 <label class="layui-form-label">详情页模板</label>
						 <div class="layui-input-block">
							 <select name="contenttpl">
								<option value="">详情页模板</option>
								{foreach:items = $template_file key=$k item=$v}
								<option value="{$v}">{$v}</option>
								{/foreach}
						 </select>
						</div>
					</div>
					
					<div class="layui-form-item">
						 <label class="layui-form-label">状态</label>
						 <div class="layui-input-block">
							<input type="radio" name="status" value="1" title="显示" checked="">
							<input type="radio" name="status" value="0" title="隐藏">
						 </div>
					</div>    
					<div class="layui-form-item">
						 <div class="layui-input-block">
						    <button class="layui-btn" lay-submit lay-filter="submit" >立即提交</button>
						    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						 </div>
					</div>
				</form>
	  	     </div>
	   </div>
	</div>
	 
	
	 
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<script src="/static/js/loadData.js"></script>
<script>
//实例化百度编辑器
var ue = UE.getEditor('container');
layui.config({
	base: '/static/layui/'
}).extend({
	treeTable: 'treetable-lay/treeTable'
}).use(['layer', 'table', 'treeTable', 'form', 'jquery', 'element'], function(){
var layer = layui.layer,
form = layui.form;
var table = layui.table;
var element = layui.element;
var $ = layui.jquery;
var treeTable = layui.treeTable;
var upload = layui.upload;
//自定义表单验证
  form.verify({
	  en:[
		  /^[a-zA-Z]+$/,'只能输入英文'
	  ]
  });
treeTable.render({

		elem: '#table',url:'{url:/sorts/getList}',
		toolbar: '#toolbarDemo',
		title: '管理员列表',
	tree: {
		iconIndex: 2,
		isPidData: true,
		idName: 'id',
		pidName: 'pid',
		arrowType: 'arrow',
		getIcon: ''
	},
		cols: [[
			{type: 'checkbox', fixed: 'left'},
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'栏目名称'},
			{field:'urlname', title:'URL名称', width:120},
			{field:'m_name', title:'模型', width:120},
			{field:'model_id', title:'模型', hide:true},
			{field:'listtpl', title:'列表页模板', width:120},
			{field:'contenttpl', title:'详情页模板', width:120},
			{field:'status', title:'状态', width:100,event:'switch', templet: function(res){
				if(res.status == 1){
					return '<input type="checkbox" name="status"  checked lay-skin="switch" lay-text="ON|OFF">';
				}else{
					return '<input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">';
				}
				
			}},
			{field:'sorting', title:'排序', width:80, edit: 'text'},
			{fixed: 'right', title:'操作', toolbar: '#barDemo', width:105}
		]],
		page: true
	});

	//监听行工具事件
	treeTable.on('tool(table)', function(obj){
	var data = obj.data;
	if(obj.event === 'del'){

		layer.confirm('真的删除行么', function(index){
			$.post('{url:/sorts/del}',{id:obj.data.id},function(data){
				if(data.code == 1){
					layer.msg(data.msg)
					obj.del();
				}
				else{
					layer.msg(data.msg)
				}
			},'json');
		});

	}else if(obj.event === 'edit'){
		$('#form')[0].reset(); //重置表单

		loadData(obj.data, '#form')
		form.render();
		element.tabChange('tab', 't2');
		form.render();
		//编辑器赋值
		if(obj.data.content){
			ue.setContent(obj.data.content);
		}else{
			ue.setContent('');
		}
		
		
	}else if(obj.event === 'switch'){
		var switchName = $(this).find('input[type="checkbox"]').attr("name");
		var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
		switchValue = Number(switchValue);
		$.post('{url:/sorts/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue},function(data){
			if(data.code == 1){
				layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
		form.render();
	}
});

	//头工具栏事件
	treeTable.on('toolbar(table)', function(obj){
		switch(obj.event){
			case 'add':
				element.tabChange('tab', 't2');
				$('#form')[0].reset();//重置表单
				ue.setContent(''); //清空编辑器
			break;

		};
		form.render();
	});
	// 模型下拉联动
	form.on('select(model)', function(sortsData){
		var thisform = $(this).parents('form');
		var thislayfilter = thisform.attr('lay-filter');
		
		$.post('{url:/sorts/getValues/}',{model_id:sortsData.value},function(data){
			form.val(thislayfilter, { 
			  "listtpl": data.listtpl
			  ,"contenttpl": data.contenttpl
			  ,
			});
			if(data.type==1){
				thisform.find("select[name=contenttpl]").attr({'disabled':true})
				thisform.find("select[name=contenttpl]").val('')
			}else{
				thisform.find("select[name=contenttpl]").attr({'disabled':false})
			}
			form.render();
			
		}, 'json');
	});      
// 表单提交
	form.on('submit(submit)', function(data){
		var thisform = $(this).parents('form');
		var url = thisform.attr('action');
	   $.ajax({
	        url:url, //请求的服务端地址
	        data:data.field,
	        type:"post",
	        dataType:"json",
	        success:function(data){
				if(data.code){
					layer.msg(data.msg);
					setTimeout(function (){
						window.location.reload();
					}, 1000);				
				}else{
					layer.msg(data.msg);
				}
	        },
	        error:function(){
	          layer.msg('error'); //错误的处理
	        }
	    });
	   return false;
	});
	//执行实例
	var uploadInst = upload.render({
		elem: '#icoup',
		url: '{url:/upload/uploadFile}',
		done: function(res){
			//上传完毕回调
			$('#form input[name="ico"]').val(res.data.path);
			layer.msg('上传成功')
		},
	})
	//执行实例
	var uploadInst = upload.render({
		elem: '#picup',
		url: '{url:/upload/uploadFile}',
		done: function(res){
			//上传完毕回调
			$('#form input[name="pic"]').val(res.data.path);
			layer.msg('上传成功')
		},
	})
})

</script>
</body>
</html>