<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.title}-{$GLOBALS.version}-{$GLOBALS.subtitle}</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	<ul class="layui-tab-title">
		<li class="layui-this" lay-id="t1">在线更新</li>
		<li lay-id="t2">更新设置</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item layui-show">
			<table class="layui-table">
				<thead>
					<tr>
						<th width="30">选择</th>
						<th>更新文件</th>
						<th>更新方式</th>
						<th>本地时间</th>
						<th>更新时间</th>
					</tr>
				</thead>
				<tbody id="upfile">
					<tr>
						<td><input type="checkbox" checked="" class="checkbox checkitem" lay-ignore="" name="list" value="/LICENSE"></td>
						<td>/LICENSE</td>
						<td>新增</td>
						<td>无</td>
						<td>2020-03-08 23:26:00</td>
					</tr>
					<tr>
						<td><input type="checkbox" checked="" class="checkbox checkitem" lay-ignore="" name="list" value="/README.md"></td>
						<td>/README.md</td>
						<td>新增</td>
						<td>无</td>
						<td>2020-03-08 23:26:00</td>
					</tr>
					<tr>
						<td><input type="checkbox" checked="" class="checkbox checkitem" lay-ignore="" name="list" value="/admin.php">
						</td>
						<td>/admin.php</td>
						<td>新增</td>
						<td>无</td>
						<td>2020-03-08 23:26:00</td>
					</tr>
					<tr>
						<td><input type="checkbox" checked="" class="checkbox checkitem" lay-ignore="" name="list" value="/apps/admin/controller/system/ConfigController.php">
						</td>
						<td>/apps/admin/controller/system/ConfigController.php</td>
						<td><span style="color:Red">覆盖</span></td>
						<td>2020-06-18 15:21:08</td>
						<td>2020-06-21 21:34:46</td>
					</tr>
					<tr>
						<td><input type="checkbox" checked="" class="checkbox checkitem" lay-ignore="" name="list" value="/apps/common/version.php">
						</td>
						<td>/apps/common/version.php</td>
						<td><span style="color:Red">覆盖</span></td>
						<td>2020-06-18 15:21:08</td>
						<td>2020-06-21 21:34:46</td>
					</tr>
					<tr>
						<td><input type="checkbox" checked="" class="checkbox checkitem" lay-ignore="" name="list" value="/doc/ChangeLog.txt">
						</td>
						<td>/doc/ChangeLog.txt</td>
						<td><span style="color:Red">覆盖</span></td>
						<td>2020-06-18 15:21:08</td>
						<td>2020-06-21 21:34:46</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="checkbox" checked="" lay-ignore="" id="checkall" title="全选"></td>
						<td colspan="4">总共检测到 6 个文件</td>
					</tr>
				</tbody>
			</table>
			<button class="layui-btn" id="check" data-url="{url: /UpdateTest/check}">重新检查</button>
			<button class="layui-btn" style="display:none" id="update" data-url="/adminzt.php?p=/Upgrade/update">执行更新</button>
			<button class="layui-btn" style="" id="down" data-url="/adminzt.php?p=/Upgrade/down">下载更新</button>
		</div>
	  	   
	  	   <div class="layui-tab-item">
	  	   	   <form action="/adminzt.php?p=/Config/index" method="post" class="layui-form">
	  	   	   	   <input type="hidden" name="formcheck" value="735e9186ded790c8cde1f1e35f288c23"> 
	  	   	   	   
	  	   	   	   <div class="layui-form-item">
	                     <label class="layui-form-label">更新分支</label>
	                     <div class="layui-input-inline">
	                     	 <select name="upgrade_branch">
				             	<option value="2.X" selected="">2.X 稳定版</option>
				             	<option value="2.X.dev">2.X 测试版</option>
				             </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="2.X 稳定版" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="2.X" class="layui-this">2.X 稳定版</dd><dd lay-value="2.X.dev" class="">2.X 测试版</dd></dl></div>
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">强制文件同步</label>
	                     <div class="layui-input-block">
	                        <input type="hidden" name="upgrade_force" value="0"><!-- 默认0 -->
	                     	<input type="checkbox" name="upgrade_force" value="1" lay-skin="switch" lay-text="开启|关闭"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>关闭</em><i></i></div>
	                     </div>
	                    <div class="layui-form-mid layui-word-aux">适用有部分文件更新失败或检查文件与官方一致性。</div>
	                </div>
	                
		            <div class="layui-form-item">
						 <div class="layui-input-block">
						    <button class="layui-btn" lay-submit="" name="submit" value="upgrade">保存</button>
						    <button type="reset" class="layui-btn layui-btn-primary">重选</button>
						 </div>
					</div>
	           </form>
	  	   </div>
	  </div>
	</div>	
</div>
</div>
<script src="/static/layui/layui.all.js"></script>
<script>
!function(){
  var layer = layui.layer
  ,form = layui.form;
  var $ = layui.jquery;
$("#check").on('click',function(){
  	$.post('{url: /UpdateTest/check}',function(data){
		if(data.code == 1){
			layer.msg('data')
		}
		else{
			console.log(data);
			layer.open({
	        type: 1 //此处以iframe举例
	        ,title: '系统更新'
	        ,area: ['460px', '560px']
	        ,shade: 0
	        ,maxmin: true
	        ,offset: ['100px', '260px']
	        ,content: data.msg.intro+data.msg.upgrade
	        ,btn: ['升级', '忽略']
	        ,yes: function(){
	          layer.closeAll();
	        }
	        ,btn2: function(){
	          layer.closeAll();
	        }
	        
	        ,zIndex: layer.zIndex //重点1
	        ,success: function(layero){
	          layer.setTop(layero); //重点2
	        }
	      });
		}
	}, 'json');
})
  //layer.msg('Hello World');
}();
</script>
</body>
</html>