<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.systemname}-version{$GLOBALS.version}-{$GLOBALS.syscompany}</title>
<meta content='{$GLOBALS.sysdescription}' name='description'>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="/static/css/main.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="/static/css/animate.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid animated {$GLOBALS.animate}">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	<ul class="layui-tab-title">
		<li class="layui-this" lay-id="t1">在线更新</li>
		<li lay-id="t2">更新设置</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item layui-show">
			<p class="layui-elem-quote" id="version-description">无可用更新</p>    
			<table class="layui-hide" id="table" lay-filter="test"></table>
			<button class="layui-btn" id="check" data-url="">重新检查</button>
			<button class="layui-btn" style="" id="update" data-url="">执行更新</button>
		</div>
	  	   
		<div class="layui-tab-item">
			<form action="" method="post" class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">临时目录</label>
					<div class="layui-input-inline">
						<input type="text" name="upgradetemp" value="/runtime/upgrade" lay-verify="required|en" placeholder="临时目录" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">升级文件临时存放目录。起始目录/runtime/upgrade</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备份目录</label>
					<div class="layui-input-inline">
						<input type="text" name="upgradetemp" value="/runtime/upgrade/backup" lay-verify="required|en" placeholder="备份目录" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">升级前，系统会把升级文件备份到此目录。起始目录/runtime/upgrade/backup/</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" name="submit" value="upgrade">保存</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	  </div>
	</div>	
</div>
</div>
<div id="console" style="display:none;">
	<div class="console" contenteditable=true>
		<ul id="console-content">
			<li class="green">完成</li>
			<li class="red">服务器返回时间0.7S</li>
		</ul>
	</div>
</div>
<script src="/static/layui/layui.js"></script>
<!-- layer模块增加了content方法，不要用官方文件直接替换 -->
<script>
layui.use(['layer', 'form','table','jquery','element'], function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var element = layui.element;
	var $ = layui.jquery;
  table.render({
		elem: '#table',url:'{url:/upgrade/getList}',
		// toolbar: '#toolbarDemo',
		title: '提示',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		cols: [[
			{type: 'checkbox', fixed: 'left'},
			{field:'name', title:'更新文件'},
			{field:'description', title:'更新说明'},
			{field:'type', title:'更新方式',width:100},
			{field:'datetime', title:'更新时间',width:160},
		]],
		page: false,
		done: function(res, curr, count){
			if(res.code == 0){
				$('#version-description').html(res.msg + ':<b>'+ res.name+ '</b>-' + res.create_time +res.description);
			}else{
				$('#version-description').html(res.msg);
			}
				
	  }
	});
	//检查更新
	$("#check").on('click',function(){
		table.reload('table');
	})
	//执行更新
	$("#update").on('click',function(){
		var data = table.checkStatus('table').data;
		var length = table.checkStatus('table').data.length;
		var is_all = table.checkStatus('table').isAll;
		var count = table.cache.table.length;
		if(length<1){
			layer.msg("请先选中要升级的文件");
			return false;
		}
		layer.open({
			content: '可升级文件共'+count+'条'+'，已选中'+length+'条，是否确认升级',
			btn: ['确认升级', '取消'],
			yes: function(index, layero){
				layer.close(index)
				upgradeAction();
			}
		});
	})
	
	//更新操作
	function upgradeAction(){
		initconsole();
		insert('<li>执行权限检测</li>');
		executeCheckAuth();
	}
	
	//执行权限检测
	function executeCheckAuth(){
		$.post('{url:/upgrade/checkAuth}',{},function(data){
			if(data.code == 1){
				insert('<li class="green">权限检测完成</li>');
				insert('<li>执行更新包下载</li>');
				executeDownload();
			}
			else{
				insert('<li class="red">权限检测失败</li>');
			}
		}, 'json');
	}
	//执行下载
	function executeDownload(){
		$.post('{url:/upgrade/download}',{},function(data){
			if(data.code == 1){
				insert('<li class="green">更新包下载完成</li>');
				executeBackup();
			}
			else{
				insert('<li class="red">更新包下载失败</li>');
			}
		}, 'json');
	}
	//执行文件备份 文件
	function executeBackup(){
		var data = table.checkStatus('table').data;
		$.post('{url:/upgrade/backup}',{data:data},function(data){
			if(data.code == 1){
				insert('<li class="green">备份完成</li>');
				executeUpgrade();
			}
			else{
				insert('<li class="red">备份失败</li>');
			}
		}, 'json');
	}
	
	//执行更新 文件 数据库
	function executeUpgrade(){
		var data = table.checkStatus('table').data;
		$.post('{url:/upgrade/upgrade}',{data:data},function(data){
			if(data.code == 1){
				insert('<li class="green">升级完成</li>');
			}
			else{
				insert('<li class="red">升级失败</li>');
			}
		}, 'json');
	}
	
	
	

	var index;//控制台句柄
	//初始化进度控制台 警告：layer.js 添加了content方法不可用官方文件直接替换
	function initconsole(){
		index = layer.open({
		  type: 1,
		  area: ['388px', '388px'],
		  title: '进度控制台',
		  maxmin: true,
		  content: $('#console').html()
		});
		clear(index);
		insert('<li>控制台初始化完成</li>');
	}

	//插入消息
	function insert(str){
		$('#console-content').prepend(str);
		update(index);
	}
	//更新控制台消息
	function update(index){
		layer.content($('#console').html(), index) 
	}
	//清空控制台消息
	function clear(index){
		$('#console-content').html('');
		layer.content('', index);
	}
});
</script>
</body>
</html>