<html lang="zh-CN">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="webkit" name="renderer">
<meta content="#F55D54" name="theme-color">
<title>{$GLOBALS.systemname}-version{$GLOBALS.version}-{$GLOBALS.syscompany}</title>
<meta content='{$GLOBALS.sysdescription}' name='description'>
<link rel="stylesheet" href="{$GLOBALS.self_path}/static/layui/css/layui.css">
<link rel="stylesheet" media="screen" href="{$GLOBALS.self_path}/static/css/main.css">
<link rel="stylesheet" href="{$GLOBALS.self_path}/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" media="screen" href="{$GLOBALS.self_path}/static/css/animate.min.css">
</head>
<body class="guodong-body">
{include:head.html}
<div class="layui-fluid animated {$GLOBALS.animate}">
<div class="layui-row">

	<div class="layui-tab layui-tab-brief layui-card" lay-filter="tab">
	<ul class="layui-tab-title">
		<li class="layui-this" lay-id="t1">版本列表</li>
		<li lay-id="t2">添加/编辑版本</li>
	</ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
				<table class="layui-hide" id="table" lay-filter="test"></table>
				<script type="text/html" id="barDemo">
				<div class="layui-btn-group">
					<button type="button" class="layui-btn layui-btn-sm" title="编辑" lay-event="edit"><i class="layui-icon"></i></button>
					<button type="button" class="layui-btn layui-btn-sm" title="删除" lay-event="del"><i class="layui-icon"></i></button>
				</div>
			</script>	
	         </div>
	        <div class="layui-tab-item">
	  	   		<form action="{url:/upgradeManage/edit}" method="post" id="form" class="layui-form" lay-filter="version-form">
					<input type="hidden" name="id" value=""> 
					<div class="layui-form-item">
						<label class="layui-form-label">版本号</label>
						<div class="layui-input-inline">
							<input type="text" name="name" lay-verify="required" placeholder="请输入版本号" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">更新包</label>
						 <div class="layui-input-inline">
							<input type="text" name="zipfile" id="zipfile" lay-verify="required" placeholder="上传更新包" class="layui-input">
						 </div>
						 <button type="button" class="layui-btn upload" id="zipup">
							 <i class="layui-icon"></i>上传更新包
						 </button>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">更新包md5</label>
						<div class="layui-input-inline">
							<input type="text" name="md5" lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">更新详情</label>
						 <div class="layui-input-block">
							<textarea type="text" name="detail" id="detail" lay-verify="required" class="layui-textarea"></textarea>
							<div class="layui-word-aux">样式:文件路径/文件名,操作,说明，多条换行符为间隔</div>
							<button type="button" class="layui-btn upload" id="generate-detail">生成更新包详情</button>
						 </div>
							
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">
							开启更新
						</label>
						<div class="layui-input-inline">
							<input type="radio" name="status" value="1" title="开启">
							<input type="radio" name="status" value="0" title="关闭" checked="">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">适用版本</label>
						<div class="layui-input-block">
							<input type="text" name="fit_versions"  lay-verify="required" placeholder="适用版本，以半角逗号隔开" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						 <label class="layui-form-label">更新内容</label>
						 <div class="layui-input-block">
							<textarea id="description" lay-verify="required" name="description"></textarea>
						 </div>
					</div>
		  	   		 <div class="layui-form-item">
					 <label class="layui-form-label"></label>
						 <div class="layui-input-inline">
							<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
				    </div>
				</form>
	  	   	</div>
	  </div>
	</div>	
</div>
</div>
<script src="{$GLOBALS.self_path}/static/layui/layui.all.js"></script>
<script src="{$GLOBALS.self_path}/static/js/jquery-3.4.1.min.js"></script>
<script src="{$GLOBALS.self_path}/static/js/loadData.js"></script>
<script type="text/javascript" src="{$GLOBALS.self_path}/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="{$GLOBALS.self_path}/static/ueditor/ueditor.all.js"></script>
<script>
var ue = UE.getEditor('description');
!function(){
	var layer = layui.layer,
	form = layui.form;
	var table = layui.table;
	var $ = layui.jquery;
	var element = layui.element;
	var upload = layui.upload;
	form.render();
	table.render({
		elem: '#table',url:'{url:/upgradeManage/getList}',
		// toolbar: '#toolbarDemo',
		title: '提示',
		layEvent: 'LAYTABLE_TIPS',
		icon: 'layui-icon-tips',
		id:"table",
		cols: [[
			{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
			{field:'name', title:'版本号',width:100},
			{field:'description', title:'说明', hide:false},
			{field:'fit_versions', title:'适用版本', hide:false},
			{field:'md5', title:'MD5',width:280},
			{field:'status', title:'状态',width:80,event: 'switch', templet: function(res){
				if(res.status == 1){
					return '<input type="checkbox" name="status" checked lay-skin="switch" lay-text="ON|OFF">';
				}else{
					return '<input type="checkbox" name="status"  lay-skin="switch" lay-text="ON|OFF">';
				}
			}},

			{field:'create_time', title:'创建时间',width:160, hide:false},
			{fixed:'right', title:'操作', toolbar: '#barDemo', width:110}
		]],
		// page: true
	});
	//执行实例
		var uploadInst = upload.render({
			elem: '#zipup',
			url: '{url:/upgradeManage/uploadFile}',
			accept:'file',
			exts: 'zip',
			done: function(res){
				if(res.code == 1){
					//上传完毕回调
					$('#form input[name="zipfile"]').val(res.data.name);
					$('#form input[name="md5"]').val(res.data.md5);
					parent.layer.msg('上传成功')
				}else{
					parent.layer.msg(res.msg)
				}
			},
		})
	//监听行工具事件
	table.on('tool(test)', function(obj){
		var data = obj.data;
		if(obj.event === 'del'){
			layer.confirm('删除后用户将无法更新至该版本，是否删除', function(index){
				$.post('{url:/upgradeManage/del}',{id:obj.data.id},function(data){
					if(data.code == 1){
						layer.msg(data.msg)
						obj.del();
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
			});
		}else if(obj.event === 'edit'){
				$('#form')[0].reset(); //重置表单
				loadData(obj.data, '#form')
				UE.getEditor('description').setContent(obj.data.description);
				form.render();
				element.tabChange('tab', 't2');
			
		}else if(obj.event === 'switch'){
				var switchName = $(this).find('input[type="checkbox"]').attr("name");
				var switchValue = $(this).find('input[type="checkbox"]').is(":checked");
				switchValue = Number(switchValue);
				$.post('{url:/upgradeManage/switch}',{id:obj.data.id,switchName:switchName,switchValue:switchValue},function(data){
					if(data.code == 1){
						//layer.msg(data.msg)
					}
					else{
						layer.msg(data.msg)
					}
				}, 'json');
				form.render();
		}
	});
	
	$('#generate-detail').click(function(){
		var zipfile = $('#zipfile').val();
		if(zipfile == ''){
			layer.msg('请上传升级包');
			return false;
		}
		$.post('{url:/upgradeManage/generateDetail}',{zipfile:zipfile},function(data){
			if(data.code == 1){
				$('#detail').val(data.data)
				layer.msg(data.msg)
			}
			else{
				layer.msg(data.msg)
			}
		}, 'json');
	})
	
	// 表单提交
	form.on('submit(submit)', function(data){
	   var url = $("#form").attr('action');
	   $.ajax({
			url:url, //请求的服务端地址
			data:data.field,
			type:"post",
			dataType:"json",
			success:function(data){
				layui.use('layer', function(){
					var layer = layui.layer;
					var index = layer.msg(data.msg,{icon:data.code,offset:['30%', '30%']},function(){
						window.location.reload();
					});
				});  
			},
			error:function(){
			  layer.msg('error'); //错误的处理
			}
		});
	   return false;
	});

	function layer_loading(msg){
		var loading = parent.layer.msg(
		msg+'...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请勿刷新页面', 
		{
			icon: 1,
			time: 3600000, //1小时后后自动关闭
			shade: [0.2] //0.1透明度的白色背景
		});
		//loading层
		var index = parent.layer.load(3, {
			shade: [0.1,'#fff'] //0.1透明度的白色背景
		});

		return loading;
	}
}();
</script>
</body>
</html>