*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
	text-decoration:none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: -apple-system, sans-serif;
}

/* 解除动画闪烁 */
.wow{
	opacity:0;
}
.animated{
	opacity:1 !important;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.875rem;
  background:#f5f5f5;
  font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
@media (max-width: 64rem) {
  body {
    overflow-x: auto;
  }
}
body{
  width: 100vw;
}
.wp{
  max-width:1023px;
  margin:0 auto;
}
 
a:active {
  color: #1a70d8;
}
a:hover, a:focus {
    color: #443f3f;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: 0;
  outline: 0;
  color: inherit;
  cursor: pointer;
}
input {
  line-height: normal;
  background: none;
  border: 0;
  outline: 0;
}
.iBotRoot {
  padding: 1rem;
  min-width: 64rem;
}
header {
    height: 55px;
	padding-left:10px;
	padding-right:20px;
	background-color: #f5f5f5;
	box-shadow: 0px 1px 8px #d8d8d8;
	margin-bottom:288px;
	position:fixed;
	top:0;
}

header, footer {
    width: 100%;
    line-height: 1;
	z-index:2;
}
.mobile-header{
	display:flex;
	justify-content:space-between;
	align-items:center;
    width: 100%;
    max-width: 1023px;
    height: 100%;
	
}
header h1 a {
    display: flex;
    overflow: hidden;
	align-items:center;
	font-size:14px;
	font-weight:normal;
	color:#333;
}
.nav-button .jellyfont{
	font-size:32px;
	color:#2e82c5;
}
.nav-button .close{
	display:none;
}
.nav-button{
	
}
.swiper-slide{
	position:relative;
}
.swiper-slide .download{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	
}
.swiper-slide .download a{
	padding:0.3rem 0.8rem;
	background:#d65050;
	margin-left:1em;
	border-radius:2px;
	color:#fff;
}
.swiper-container{
	color:#fff;
}
.swiper-slide-content{
	padding:50px;
	height:100%;
	box-sizing:border-box;
}
.slider-pic{
	height:50%;
	position:absolute;
	bottom:0;
	right:0;
}
.slider-pic img{
	height:100%;
}
.slider-text{
	z-index:1;
	position:relative;
}
.slider-text p{
	line-height:1.5rem;
	margin-bottom:1rem;
}
.slider-text h1{
	margin-bottom:1rem;
}

section{
	margin-top:2rem;
	display:flex;
	flex-direction:column;
	align-items:center;
}
section h1{
	margin-top:2rem;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-size:1.2rem;
	font-weight:normal;
	color:#666;
}
.slogan-con{
	position:relative;
	display:flex;
	justify-content:center;
	flex-direction:column;
	width:100%;
	align-items:center;
	height:3em;
}
section span.slogan{
	color:#999;
	font-size:0.8rem;
	background:#fff;
	display:block;
	position:absolute;
	top:0.7rem;
}
section span.line{
	content:"";
	width:100%;
	border-top:1px solid #999;
	display:flex;
}
section span.separator{
	height:51px;
	width:100%;
	background:url(../images/hh1.png) no-repeat center;
}

section.featrue{
	margin-top:326px;
	background:#fff;
}
section.featrue .f-items{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
	padding:1rem 2rem;
}
section.featrue .f-items li{
	width:33%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.roll-icon-box{
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.roll-icon-box .icon{
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border: 1px solid #d65050;
	height:5rem;
	width:5rem;
	border-radius:100%;
}
.roll-icon-box .icon i{
	font-size:2rem;
	color: #d65050;
}
.roll-icon-box .icon i{
	font-size:2rem;
	color: #d65050;
}
.roll-content{
	text-align:center;
	color: rgb(68, 63, 63);
}
.roll-content h3{
	text-align:center;
	font-weight:normal;
	font-size:1rem;
	margin-top:0.5rem;
}
.roll-content p{
	font-size:0.8rem;
	margin-top:0.3rem;
}

section.about-us{
	background:url(../images/index-aboutus.jpg) no-repeat;
    background-size: cover;
	color:#333;
}
section.about-us .about-content{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding:1rem 1rem;
}
section.about-us .about-content img{
	height:3rem;
}
section.about-us .about-content h2{
	margin-bottom:1rem;
}
section.about-us .about-content p{
	color:#fff;
}

section.product{
	background:#fff;
}

section.product .p-items{
	display:flex;
	padding:1rem 1rem;
	justify-content:space-between;
	flex-wrap:wrap;
}
section.product .p-items li{
	width:48%;
	height:12rem;
	overflow:hidden;
	margin-bottom:1rem;
	position:relative;
	box-shadow: 0 0 10px #ddd;
}
section.product .p-items li img{
	height:100%;
}
section.product .p-items li span{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0, 0.5);
	line-height:2rem;
	color:#f5f5f5;
	text-align:center;
}


section.statistics{
    background: url(../images/skill.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
section.statistics .sta-data{
	width:100%;
    background: url(../images/net.png) repeat;
    height: 10rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1rem 1rem;
}
section.statistics .sta-data ul{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
section.statistics .sta-data ul li{
	text-align:center;
	display:flex;
	flex-direction:column;
}
section.statistics .sta-data ul li span{
	font-size:1.4rem;
	margin-bottom:1rem;
}
section.statistics .sta-data ul li p{
	color:rgb(255, 15, 101);
}

section.news{
	background-color:#fff;
}
section.news ul{
	background-color:#fff;
	background-image: url(../images/newsbg.png);
	background-repeat:no-repeat;
	background-position: right top;
	width:100%;
	padding:1rem;
}
section.news ul li{
	margin-bottom:0.5rem;
}
section.news ul li a{
	display:flex;
	justify-content:space-between;
	width:100%;
	border: 1px solid #eee;
	box-shadow: 0 0 10px #ddd;
}
section.news ul li a img{
	width:168px;
	height:108px;
}
section.news ul li a div{
	flex:1;
	padding-left:2rem;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	height:100%;
}
















































































