*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
	text-decoration:none;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.875rem;
}
@media (max-width: 64rem) {
  body {
    overflow-x: auto;
  }
}
body.is-content-fixed .ContentRoot {
  position: fixed;
  width: 100vw;
}
 
a:hover {
  color: #1a70d8;
}
a:active {
  color: #1a70d8;
}
button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: 0;
  outline: 0;
  color: inherit;
  cursor: pointer;
}
input {
  line-height: normal;
  background: none;
  border: 0;
  outline: 0;
}
.iBotRoot {
  padding: 1rem;
  min-width: 64rem;
}
header{
	height:60px;
	width:100%;
	position:fixed;
	top:0;
	z-index:2;
	transition:all 0.2s ease-in-out;
}
header.active {
    background-color: rgba(0,0,0,.5);
}
header:hover {
    background-color: rgba(0,0,0,.3);
}
.header-container{
	margin:0 auto;
	width:1200px;
	height:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header-left{
	width:150px;
	height:100%;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	padding-top:10px;
	padding-bottom:10px;
	box-sizing:border-box;
}
.header-left img{
	height:100%;
	display:flex;

}
.header-right{
	width:200px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.header-right a {
    color: #fff;
	line-height:30px;
	text-align:center;
}
.header-right .reg {
    color: #fff;
    background: #52c018;
    border-radius: 15px;
    width: 80px;
    height: 30px;
	margin-left:20px;
}

.header-container ul{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex:1;
}
.header-container ul li a{
	color:#fff;
	padding-left:15px;
	padding-right:15px;
}
.swiper-container {
    width: 100%;
    height: 450px;
	position:relative;
	
}  
.swiper-wrapper{}
.swiper-wrapper .swiper-slide {
    //background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.swiper-slide-content{
	width:1200px;
	margin:0px auto;
	padding-top:60px;
	position:relative;
	height:100%;
	color:#fff;
}
.slider-pic{
	position:absolute;
	bottom:0;
	right:0;
	width:500px;
}
.slider-pic img{
	width:100%;
}

.slider-text{
	padding-top:60px;
	width:40%;
	line-height:28px;
}
.slider-text p{
	padding-top:20px;
	font-size:14px;
}









footer {
	background: #2d2d2d;
	color: #5e5e5e;
	overflow: hidden;
	width: 100%;
	height: 249px;
}
.footer-top{
    width: 100%;
    height: 133px;
}
.footer-bottom{
    width: 100%;
    height: 116px;
    background: #242424;
	text-align:center;
	display:flex;
	align-items:center;
	flex-direction:column;
	text-align: center;
    color: #777676;
    font-size: 12px;
    margin: 0 auto;
    line-height: 40px;
	padding-top:20px;
}
footer a {
    color: #777676;
    transition: all .3s;
}
.footer-top-container{
	width:688px;
	margin:0px auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.footer-top-container ul{
	display:flex;
	align-items:center;
	width:50%;
	margin-right:56px;
}
.footer-top-container ul li{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-right:58px;
}
.footer-top-container ul li a{
	 display:flex;
	 padding-top:22px;
	 color:#888;
	 transition:all 0.2s ease-in-out;
}
.footer-top-container div{
	border-left: 1px solid #242424;
    padding: 10px 0 10px 70px;
    text-align: left;
    margin-right: 7px;
    margin-top: 36px;
}
}





















